<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading || isLoading"></p-progressSpinner>


<div class="flex-main-container">

  <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">Select Team</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" placeholder="Team Name.." name="search" [(ngModel)]="teamName">
          <i class="fa fa-undo" (click)="getTeams()"></i>
          <i class="fa fa-search" (click)="onTeamSearch()"></i>
        </div>
      </div>
      <div class="scroll-container">
        <div class="panel-body group-handle" (click)="onSelectTeam(team);" *ngFor="let team of teams">
          <div class="panel panel-default member-container">
            <div class="panel-body flex-container plus-container" [ngClass]="{'selected-team' : currentTeam.id == team.id}">
              <div>
                <span><b> Name: </b> {{team.name}}</span><br />
                <span><b> Id: </b> {{team.id}}</span><br />
                <span><b> Division: </b> {{team.divisionName}}</span><br />
              </div>
              <i class="fa fa-remove left-of-container" (click)="onDeleteTeam(team.id);"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">Unassigned Members</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" placeholder="PF.." name="search" [(ngModel)]="PF">
          <i class="fa fa-undo" (click)="getTechsBeforSearch()"></i>
          <i class="fa fa-search" (click)="onTechSearch()"></i>
        </div>
      </div>
      <div class="scroll-container">
        <div class="panel-body group-handle" *ngFor="let tech of unassignedMembers; let i = index;">
          <div class="panel panel-default member-container">
            <div class="panel-body">
              <div class="flex-container plus-container">
                <i class="fa fa-car" *ngIf="tech.isDriver"></i>
                <i class="fa fa-wrench" *ngIf="!tech.isDriver"></i>
                <div>
                  <span><b> name: </b> {{tech.memberParentName}}</span><br />
                  <span><b> PF: </b> {{tech.pf}}</span><br />
                  <span><b> Division: </b> {{tech.divisionName}}</span><br />
                </div>
                <i class="fa fa-plus left-of-container" (click)="addTech(tech , i);"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">Unassigned Vehicles</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" placeholder="plate number.." name="search" [(ngModel)]="plateNo">
          <i class="fa fa-undo" (click)="getVehiclesBeforeSearch()"></i>
          <i class="fa fa-search" (click)="onVehicleSearch()"></i>
        </div>
      </div>
      <div class="scroll-container">
        <div class="panel-body group-handle" *ngFor="let vehicle of unassignedVehicles; let i = index;">
          <div class="panel panel-default member-container">
            <div class="panel-body">
              <div class="flex-container">
                <span><b> Plate Number: </b> {{vehicle.memberParentName}}</span>
                <i class="fa fa-plus left-of-container" (click)="assignVehicle(vehicle , i);"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container selected-Team-main-container">
      <div class="panel-heading">Selected Members</div>

      
    </div>
  </div> -->

  <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">Selected Team</div>
      <div class="modal-body">

        <div class="form-group">
          <label>Name :</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="userObj.name" required />
          <div style="text-align: center; margin-top: 10px">
          </div>
        </div>

        <div class="form-group">
          <label>Division</label>
          <select class="form-control" name="divisionObj" [(ngModel)]="divisionObj" required (change)="getUnassignedMembers(divisionObj.id);"
            [disabled]="disableChangeDivision">
            <option [ngValue]="d" *ngFor="let d of divisions" [selected]="d.name === divisionObj.name">{{d.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Forman</label>
          <select class="form-control" name="formanObj" [(ngModel)]="formanObj" required>
            <option [ngValue]="f" *ngFor="let f of formans" [selected]="f.name === formanObj.name">{{f.name}}</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Shift</label>
          <select class="form-control" name="shiftObj" [(ngModel)]="shiftObj" required>
            <option [ngValue]="s" *ngFor="let s of shifts" [selected]="s.id === shiftObj.id">{{s.fromTime + ' - ' + s.toTime}}</option>
          </select>
        </div>

        <div class="scroll-container selected-memebers-container">
          <div class="panel-body group-handle" *ngIf="currentTeam.vehicle">
            <div class="panel panel-default member-container">
              <div class="panel-body">
                <div class="flex-container plus-container">
                  <div>
                    <span><b> Plate Number: </b> {{currentTeam.vehicle.memberParentName}}</span>
                  </div>
                  <i class="fa fa-remove  left-of-container" (click)="removeVehicle(currentTeam.vehicle);"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body group-handle" *ngIf="currentTeam.driver">
            <div class="panel panel-default member-container">
              <div class="panel-body">
                <div class="flex-container plus-container">
                  <i class="fa fa-car"></i>
                  <div>
                    <span><b> name: </b> {{currentTeam.driver.memberParentName}}</span><br />
                    <span><b> PF: </b> {{currentTeam.driver.pf}}</span><br />
                    <span><b> Driver: </b> {{currentTeam.driver.isDriver}}</span><br />
                    <span><b> Division: </b> {{currentTeam.driver.divisionName}}</span><br />
                  </div>
                  <div class="left-of-container">
                    <i class="fa fa-check-square  left-of-container" *ngIf="currentTeam.driver.memberParentName == userObj.name"></i>
                    <i class="fa fa-square-o  left-of-container" *ngIf="currentTeam.driver.memberParentName != userObj.name"
                      (click)="assinTeamName(currentTeam.driver.memberParentName);"></i>
                    <i class="fa fa-remove  left-of-container" (click)="removeDriver(currentTeam.driver);"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body group-handle" *ngFor="let member of currentTeam.members; let i = index;">
            <div class="panel panel-default member-container">
              <div class="panel-body">
                <div class="flex-container plus-container">
                  <i class="fa fa-wrench"></i>
                  <div>
                    <span><b> name: </b> {{member.memberParentName}}</span><br />
                    <span><b> PF: </b> {{member.pf}}</span><br />
                    <span><b> Division: </b> {{member.divisionName}}</span><br />
                  </div>
                  <div class="left-of-container">
                    <i class="fa fa-check-square" *ngIf="member.memberParentName == userObj.name"></i>
                    <i class="fa fa-square-o" *ngIf="member.memberParentName != userObj.name" (click)="assinTeamName(member.memberParentName);"></i>
                    <i class="fa fa-remove" (click)="removeTeamMember(member, i);"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="full-width submit-container">
        <button class="full-width submit-button" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>


</div>