<p-growl [(value)]="cornerMessage"></p-growl>
<div class="overlayer" [hidden]="!toggleLoading">
  <div class="spinner-containerr">
    <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
  </div>
</div>
<div class="container dispatcher-order-container uk-card uk-card-default">
  <div class="row margin-top-10 component-container">
    <i class="material-icons small-icons" *ngIf="unAssignedStatusClass === 'zero-filter-width'"
      (click)="toggleUnAssigned(true)">last_page</i>
    <div class="orders-section col-md-2" [ngClass]="unAssignedStatusClass">
      <div class="orders-overflow-container scrollbar" *ngIf="unAssignedStatusClass === 'full-unassigned-width'">
        <div class="order-header">
          <h4 class="text-center Unassigned-header">
            <span>Unassigned</span>
            <i class="material-icons small-icons" (click)="toggleUnAssigned(false)">arrow_back_ios</i>
          </h4>
        </div>
        <div dragula="orders" [(dragulaModel)]="openOrders" class="unassigned-orders-container scrollbar">
          <div [ngClass]="['#orderId' + order.id]" (click)="activeOrder(order)"
            *ngFor="let order of allUnassignedOrders" class="order-card" [ngClass]="order.classThemeName">
            <app-order-card (orderTransfered)="orderTransfered($event)" (orderSelected)="addOrderToSelection($event)"
              [bulkAssignMode]="isBulkAssign" [order]="order"></app-order-card>
          </div>
        </div>
      </div>
    </div>
    <div class="tec-section col-md-9 map-main-container">
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
          class="form-control" #search [formControl]="searchControl">
      </div>
      <div [ngClass]="{toggleOverflowX : true, 'full-screen':fullScreenMap}"
        class="technican-overflow-container scrollbar">
        <div class="map-container uk-animation-fade">
          <agm-map *ngIf="orders" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker *ngFor="let item of mapOrders" [latitude]="item.lat" [longitude]="item.long"
              [markerDraggable]="false" [iconUrl]="item.pin">
              <agm-info-window [disableAutoPan]="true">
                <table>
                  <tr>
                    <td><b>Order Code: </b></td>
                    <td>{{ item.code || '--' }}
                    </td>
                  </tr>
                  <tr>
                    <td><b>Creation Date: </b></td>
                    <td>{{ item.createdDate.replace('T', ' ').substring(0 , item.createdDate.indexOf('.')) || '--' }}
                    </td>
                  </tr>
                  <tr>
                    <td><b>Finish Date: </b></td>
                    <td>{{ item.updatedDate.replace('T', ' ').substring(0 , item.updatedDate.indexOf('.')) || '--' }}
                    </td>
                  </tr>
                  <tr>
                    <td><b>status: </b></td>
                    <td>{{ item.statusName || "--" }}</td>
                  </tr>
                  <tr>
                    <td><b>problem: </b></td>
                    <td>{{ item.problemName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>division: </b></td>
                    <td>{{ item.divisionName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>dispatcher: </b></td>
                    <td>{{ item.dispatcherName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>technician: </b></td>
                    <td>{{ item.dispatcherName || '--' }}</td>
                    <!-- technician is not found in the response received from backend -->
                  </tr>
                  <tr>
                    <td><b>area: </b></td>
                    <td>{{ item.areaName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>order type: </b></td>
                    <td>{{ item.typeName || '--' }}</td>
                  </tr>
                </table>
              </agm-info-window>
            </agm-marker>
            <agm-marker *ngIf="searchResultMarker" [latitude]="searchResultMarker.lat" [longitude]="searchResultMarker.lng"></agm-marker>
          </agm-map>
          <div class="filter-icon" (click)="toggleFilter(true)">
            <i class="fa fa-bars"></i>
          </div>
          <div class="full-screen-icon" (click)="toggleFullScreen()">
            <i class="material-icons" *ngIf="!fullScreenMap">
              fullscreen
            </i>
            <!-- <i class="fa fa-arrows-h" ></i> -->
            <i class="material-icons" *ngIf="fullScreenMap">fullscreen_exit</i>
          </div>
          <div [ngClass]="filterStatusClass" class="filter-body">
            <div [hidden]="filterStatusClass[0] == 'zero-filter-width'">
              <i class="fa fa-close close-filter" (click)="toggleFilter(false)"></i>
              <app-order-filter [type]="'map'" (resetFilter)="resetFilterMap()"
                (filterTermsMap)="applyFilterMap($event)"></app-order-filter>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>