
:host{
  width: 80% !important;
}

.add-button {
  margin-top: 15px
}

.add-form {
margin-top: 25px;
  border: 1px solid lightgray;
  padding: 10px;
  box-sizing: border-box;
}


.gary{
  color:#c3c3c3;
}