<div class="row">

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="[]" [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5" [selected]="[]" [selectionType]="'falsey'">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
                            [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="50" prop="area_No" name="Area No" *ngIf="type === 'Area'"></ngx-datatable-column>
      <ngx-datatable-column [width]="100" prop="code" name="code" *ngIf="type === 'Building Types' || type === 'Company Code' ||type === 'Contract Type' || type === 'Division' || type === 'Languages'"></ngx-datatable-column>

      <!-- <ngx-datatable-column [width]='100' prop="description" name="Description" *ngIf="type === 'Building Types'|| type === 'Contract Type'"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column [width]='100' prop="languagesDictionaries" name="Arabic" *ngIf="type != 'Shift'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-Arabic'] = true" *ngIf="!editing[rowIndex + '-Arabic'] && value && value[0] &&value[0].value">
            {{value[0].value}}
          </span>
          <input  (blur)="updateValue($event, 'languagesDictionaries[0].value', rowIndex); editing[rowIndex+ '-Arabic'] = false;" *ngIf="editing[rowIndex+ '-Arabic'] || !value" type="text"
            [value]="value[0].value" />
        </ng-template>

      </ngx-datatable-column> -->



      <ngx-datatable-column [width]="100" prop="code" name="code" *ngIf="type === 'Problems'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-code'] = true" *ngIf="!editing[rowIndex + '-code'] && value">
            {{value}}
          </span>
          <input (blur)="updateValue($event, 'code', rowIndex); editing[rowIndex+ '-code'] = false;" *ngIf="editing[rowIndex+ '-code'] || !value"
                 type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [width]="100" prop="exceedHours" name="Exceed Hours" *ngIf="type === 'Problems'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-exceedHours'] = true" *ngIf="!editing[rowIndex + '-exceedHours'] && value">
            {{value}}
          </span>
          <input (blur)="updateValue($event, 'exceedHours', rowIndex); editing[rowIndex+ '-exceedHours'] = false;" *ngIf="editing[rowIndex+ '-exceedHours'] || !value"
                 type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>

      <div *ngIf="(type === 'Area' || 'Attendance Status' || 'Availability')">
        <ngx-datatable-column *ngFor="let col of languageArray; let i = index;" [name]="col.key" [prop]="col.key">
          <ng-template ngx-datatable-header-template>
            {{ col.key }}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + ' ' + i] = true" *ngIf="!editing[rowIndex + ' ' + i] && value">
              {{value}}
            </span>
            <input (blur)="updateLanguageValue($event, i, rowIndex); editing[rowIndex + ' ' + i] = false;" *ngIf="editing[rowIndex + ' ' + i] || !value"
                   type="text" [value]="value" />
          </ng-template>
        </ngx-datatable-column>
      </div>


      <div *ngIf="(type === 'Shift' || type === 'Cost Center' || type === 'Languages')">
        <ngx-datatable-column [width]="100" prop="name" name="Name">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-Name'] = true" *ngIf="!editing[rowIndex + '-Name'] && value">
              {{value}}
            </span>
            <input (blur)="updateValue($event, 'name', rowIndex); editing[rowIndex+ '-Name'] = false;"
                   *ngIf="editing[rowIndex+ '-Name'] || !value" type="text" [value]="value" />
          </ng-template>
        </ngx-datatable-column>
      </div>


      <ngx-datatable-column [width]="100" prop="day" name="Day" *ngIf="type === 'Shift'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-Day'] = true" *ngIf="!editing[rowIndex + '-Day'] && value">
            {{value}}
          </span>
          <input (blur)="updateValue($event, 'day', rowIndex); editing[rowIndex+ '-Day'] = false;" *ngIf="editing[rowIndex+ '-Day'] || !value"
                 type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [width]="100" prop="fromTime" name="From Time" *ngIf="type === 'Shift'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-fromTime'] = true" *ngIf="!editing[rowIndex + '-fromTime'] && value">
            {{value}}
          </span>
          <input (blur)="updateValue($event, 'fromTime', rowIndex); editing[rowIndex+ '-fromTime'] = false;" *ngIf="editing[rowIndex+ '-fromTime'] || !value"
                 type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [width]="100" prop="toTime" name="To time" *ngIf="type === 'Shift'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-toTime'] = true" *ngIf="!editing[rowIndex + '-toTime'] && value">
            {{value}}
          </span>
          <input (blur)="updateValue($event, 'toTime', rowIndex); editing[rowIndex+ '-toTime'] = false;" *ngIf="editing[rowIndex+ '-toTime'] || !value"
                 type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="50" prop="id" name="Save">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="btn btn-success" (click)="save(row)">
            <i class="fa fa-save"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column [width]='50' prop="id" name="Remove">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="btn btn-danger" (click)="remove(row)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </ng-template>
      </ngx-datatable-column> -->

    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!toggleLoading">
  <div class="col-md-3 col-md-offset-9 add-button">
    <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> Add {{type}}</button>
  </div>
</div>
