.add-button {
  margin-top: 10px;
  /*width: 100% !important;*/
}
button.btn.btn-add {
  width: 100%;
}

ngx-datatable-column{
  position: relative;
}

input, span{
  width: 90%;
}

span{
  display:inline-block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}