

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading && !isLoading"></p-progressSpinner>


<div class="form-group">
  <label for="APIKeyForWeb">API Key For Web:</label>
  <input type="text" class="form-control" id="APIKeyForWeb" [(ngModel)]="settings.APIKeyForWeb">
</div>

<div class="form-group">
  <label for="APIKeyForMobile">API Key For Mobile:</label>
  <input type="text" class="form-control" id="APIKeyForMobile" [(ngModel)]="settings.APIKeyForMobile">
</div>

<div class="form-group">
  <label for="RefreshRate">Refresh Rate (Minutes):</label>
  <input type="number" class="form-control" id="RefreshRate" [(ngModel)]="settings.RefreshRate">
</div>


<div class="form-group">
  <button class="btn btn-primary" [disabled]="!settings.APIKeyForMobile || !settings.APIKeyForWeb || !settings.RefreshRate" (click)="onSaveSettings()">Submit</button>
</div>