<p-growl [(value)]="cornerMessage"></p-growl>
<div class="overlayer" [hidden]="fetchingDataDone && !toggleLoading">
    <div class="spinner-containerr">
        <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
    </div>
</div>
<div class="container dispatcher-order-container uk-card uk-card-default">
    <div class="row">
        <div class="row margin-top-10">
            <div class="orders-section col-md-2">
                <div class="orders-overflow-container scrollbar">
                    <div class="order-header">
                        <h4 class="text-center">Unassigned</h4>
                    </div>
                    <div dragula="orders" class="unassigned-orders-container scrollbar">
                        <div [ngClass]="['#orderId' + order.id] && order.classes" *ngFor="let order of orders"
                            class="order-card">
                            <app-order-card (orderTransfered)="orderTransfered($event)"
                                (orderSelected)="addOrderToSelection($event)" [bulkAssignMode]="isBulkAssign"
                                [order]="order"></app-order-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tec-section col-md-9">
                <div [ngClass]="{toggleOverflowX : true}" class="technican-overflow-container scrollbar">
                    <div *ngFor="let dispatcher of dispatchers" class="single-tec">
                        <div class="tec-header foreman-name">
                            <h4 class="text-center">{{dispatcher?.dispatcherName}}</h4>
                        </div>
                        <div class="flex-container full-height">
                            <div class="single-tec-overflow scrollbar">
                                <div [ngClass]="['#dispatcherId' + dispatcher.dispatcherId]" dragula="orders" style="height: 100%">
                                    <div *ngFor="let order of dispatcher.filterOrders" [ngClass]="order && order.classes">
                                        <app-order-card (orderTransfered)="orderTransfered($event)"
                                            (orderSelected)="addOrderToSelection($event)"
                                            [bulkAssignMode]="isBulkAssign" [order]="order">
                                        </app-order-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="!dispatchers?.length">No Dispatchers Data</p>
                </div>
            </div>
        </div>
    </div>