/* line 3, main-header-component.component.scss */

.notification-transparent-background {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 99;
}

/* line 11, main-header-component.component.scss */

.hide-notification-transparent-background {
    visibility: hidden;
}

/* line 15, main-header-component.component.scss */

.show-notification-transparent-background {
    visibility: visible;
}

/* line 19, main-header-component.component.scss */

.hide-notification-icon {
    opacity: 0;
    transition: all 0.5s;
}

.active-nav {
    background-color: #02466b;
}

.active-nav a {
    color: whitesmoke !important;
}

/* line 24, main-header-component.component.scss */

.show-notification-icon {
    opacity: 1;
    transition: all 0.5s;
}

/* line 29, main-header-component.component.scss */

.logoIcon {
    height: 50px;
    width: auto;
    padding: 3px 12px 0 0px;
}

/* line 35, main-header-component.component.scss */

.loginBtn,
.loginBtn:active {
    width: 100px;
    float: left;
    margin: 10px;
    background-color: rgba(18, 120, 255, 0.91);
    color: white;
    font-weight: bold;
    outline: none;
}

/* line 45, main-header-component.component.scss */

.notification-section {
    display: inline;
    position: relative;
    z-index: 100;
}

/* line 49, main-header-component.component.scss */

.notification-section .notification-btn {
    background: none;
    border: none;
    margin-left: 10px;
}

/* line 53, main-header-component.component.scss */

.notification-section .notification-btn .bell {
    font-size: 1.6em;
    color: rgba(18, 120, 255, 0.91);
    cursor: pointer;
}

/* line 66, main-header-component.component.scss */

.notification-section .notification-body {
    position: absolute;
    right: -10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    box-shadow: 0px 0px 8px lightgray;
    width: 250px;
    max-height: 250px;
    overflow-y: scroll;
}

/* line 75, main-header-component.component.scss */

.notification-section .notification-body .notification {
    cursor: pointer;
    transition: 0.5s all;
    border-bottom: 1px solid #f0f0f0;
}

/* line 80, main-header-component.component.scss */

.notification-section .notification-body .notification:hover {
    color: rgba(18, 120, 255, 0.91);
    transition: 0.5s all;
}

/* line 88, main-header-component.component.scss */

li.ListItem {
    padding: 5px;
}

/* line 92, main-header-component.component.scss */

.whiteBackground {
    background-color: white;
}

/* line 96, main-header-component.component.scss */

/*li.ListItem:hover {*/

/*background: #e2e2e2;*/

/*}*/

/* line 101, main-header-component.component.scss */

li.ListItem a {
    color: #02466b;
    font-weight: bold;
}

/* line 107, main-header-component.component.scss */

.RightPart {
    float: right;
    margin: 10px;
    /* margin-right: 40px; */
}

/* line 113, main-header-component.component.scss */

.NewUser {
    padding: 16px 10px;
    float: right;
}

/* line 118, main-header-component.component.scss */

.navbar {
    margin-bottom: 0px !important;
}

/* line 122, main-header-component.component.scss */

.AfterLogin {
    display: inline-block;
    /* float: left; */
    margin: 0px 23px;
    text-align: right;
    color: rgba(18, 120, 255, 0.91);
}

/* line 130, main-header-component.component.scss */

.AfterLogin .nameLogged {
    color: #6a5a5a;
    font-size: 14px;
}

/* line 135, main-header-component.component.scss */

.LogOut {
    cursor: pointer;
}

/* line 139, main-header-component.component.scss */

/* .navbar.whiteBackground { */

/* box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15); */

/* } */

.navbar {
    border-radius: 0px !important;
}

.nav-link span {
    margin-left: 5px;
}

.nav-link {
    color: #556080;
}

.navbar-container li ul a {
    border: none;
}

.navbar-container ul a:hover {
    background: transparent;
    border-bottom: 2px solid rgb(61, 46, 46);
}

.navbar-container li ul {
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
}

.navbar-container li ul li {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 200ms ease-in;
    -moz-transition: height 200ms ease-in;
    -o-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
}

.navbar-container>li:hover ul li {
    height: 36px !important;
}

.dropdown .dropdown-menu {
    display: block;
    border: 1px solid #E6E6E6;
    border-radius: 0 0 0.25rem 0.25rem;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pointer {
    cursor: pointer;
}

.show-all {
    color: #556080;
    text-align: end;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.show-all:focus {
    outline: none;
}

.flex-notification {
    position: absolute;
    right: -5px;
    top: -14px;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-notification div {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #3f51b5;
    padding: 2px;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin-top: 0px;
}

.notification-content {
    margin-bottom: 0px;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #c3c3c3;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.approval-box {
    display: flex;
    flex-direction: row-reverse;
}

.approval-box i {
    width: 50px;
}

.approval-box i {
    font-size: 20px;
    margin: 5px 0;
}

.notification-main-container{
  background-color: #fbfbfb !important;
}

.footer-notification-center{
  display: flex;
  justify-content: space-between;
}

.fa{
    cursor: pointer;
}

.wait{
    cursor: wait !important;
}

.wait .approval-box .fa {
    cursor: wait !important;
}