<div class="notification-transparent-background" [ngClass]="notificationBackgroundClass"
     (click)="toggleNotificationBody()"></div>

<nav class="navbar navbar-default whiteBackground">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logoIcon" src="assets/Images/logo-amanah.png" alt="" style="max-width: 250px;" />
    </div>

    <div *ngIf="isLoggedin">

      <ul class="nav navbar-nav" *ngIf="role === 'Supervisor'">
        <li routerLinkActive="active-nav" [routerLink]="['/supervisor/board']" class="ListItem">
          <a>Supervisor Order Board</a>
        </li>
        <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/supervisor/dispatcher/']" class="ListItem"><a>Dispatcher Board</a></li>
      </ul>

      <ul class="nav navbar-nav" *ngIf="role === 'Dispatcher'">
        <li routerLinkActive="active-nav" [routerLink]="['/dispatcher/board']" class="ListItem">
          <a>Orders Board</a>
        </li>
        <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/dispatcher/map']" class="ListItem">
          <a>Map Board</a>
        </li>
        <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/dispatcher/printout']" class="ListItem">
          <a>Printout</a>
        </li>
      </ul>

      <ul class="nav navbar-nav" *ngIf="role === 'Admin'">
        <li class="ListItem" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/master-data']">
          <a>
            <i class="fa fa-desktop"></i>
            Master Data
          </a>
        </li>
        <li class="ListItem" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/user-management']">
          <a>
            <i class="fa fa-user"></i>
            Users Management
          </a>
        </li>
        <!--<li class="ListItem" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/customers']">
          <a>
            <i class="fa fa-user"></i>
            Customers
          </a>
        </li>-->
        <li class="ListItem" routerLinkActive="active-nav" [routerLink]="['/team-management']">
          <a>
            <i class="fa fa-users"></i>
            Team Management
          </a>
        </li>
        <li class="ListItem" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/dispatcher-settings']">
          <a>
            <i class="fa fa-street-view"></i>
            Dispatchers Settings
          </a>
        </li>
        <!--<li class="ListItem" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/timesheet']">
          <a>
            <i class="fa fa-calendar"></i>
            Time Sheet
          </a>
        </li>-->
        <li class="ListItem" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
            [routerLink]="['/map-settings']">
          <a>
            <i class="fa fa-map-marker"></i>
            Map Settings
          </a>
        </li>
      </ul>
    </div>

    <div class="RightPart" *ngIf="authenticationService.isLoggedIn()">
      <img class="Avatar" src="assets/Images/user.png" alt="" />
      <div class="notification-section">
        <button class="notification-btn" [ngClass]="toggelingNotificationIconClass" (click)="toggleNotificationBody()">
          <i class="fa fa-bell-o bell"></i>
          <div class="flex-notification" [hidden]="!sharedNotificationService.notificationCount">
            <div>
              <span>{{sharedNotificationService.notificationCount}}</span>
            </div>
            <!-- <i class="fa fa-circle dot"></i> -->
          </div>
        </button>
        <div [hidden]="!toggleNotification"
             class="notification-main-container notification-body uk-padding-small uk-animation-slide-top-small">
          <div *ngFor="let notification of notifications;let i =index" (click)="onNotificationClick(notification, i)"
               class="pointer" [ngClass]="notification.className">

            <p class="notification-content">{{notification.body}}</p>

            <div class="approval-box"
                 *ngIf="notification.notificationType === 'Change order priority' && notification.isRead === false">
              <i class="fa fa-thumbs-o-up" (click)="onApproveRequest($event, notification, i, true)"></i>
              <i class="fa fa-thumbs-o-down" (click)="onApproveRequest($event, notification, i, false)"></i>
            </div>
            <hr>
          </div>
          <div [hidden]="!notifications.length" class="footer-notification-center">
            <p class="show-all" (click)="onMarkAllAsRead()">Mark All Read</p>
            <p class="show-all" [routerLink]="['dispatcher/notifications']" (click)="toggleNotificationBody()">
              Show All
            </p>
          </div>
          <p [hidden]="notifications.length">No notifications available</p>
        </div>
      </div>

      <div class="AfterLogin">
        <span class="nameLogged">Welcome {{currentUserFullName()}}, </span>
        <br />
        <span class="LogOut"><u (click)="logoutAll()">Log Out</u></span>
      </div>
    </div>
  </div>
</nav>


<!-- Horizontal navigation-->
<div class="whiteBackground header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow"
     role="navigation" data-menu="menu-wrapper" style="display:none">
  <!-- Horizontal menu content-->
  <div class="navbar-container main-menu-content" data-menu="menu-container">
    <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="dropdown nav-item" data-menu="dropdown">
        <a class="dropdown-toggle nav-link" href="index-2.html" data-toggle="dropdown">
          <i class="fa fa-home"></i><span>Dashboard</span>
        </a>
        <ul class="dropdown-menu">
          <li class="active" data-menu="">
            <a class="dropdown-item" href="dashboard-ecommerce.html"
               data-toggle="dropdown">
              eCommerce
              <!-- <submenu class="name"></submenu> -->
            </a>
          </li>
          <li data-menu="">
            <a class="dropdown-item" href="dashboard-analytics.html" data-toggle="dropdown">
              Analytics
              <!-- <submenu class="name"></submenu> -->
            </a>
          </li>
          <li data-menu="">
            <a class="dropdown-item" href="dashboard-fitness.html" data-toggle="dropdown">
              Fitness
              <!-- <submenu class="name"></submenu> -->
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="dropdown-toggle nav-link" href="#">
          <i class="fa fa-desktop"></i><span>Master Data</span>
        </a>
      </li>
      <li class="nav-item" data-menu="dropdown">
        <a class="dropdown-toggle nav-link" href="#">
          <i class="fa fa-user"></i><span>User Management</span>
        </a>
      </li>

      <li class="dropdown mega-dropdown nav-item" data-menu="megamenu">
        <a class="dropdown-toggle nav-link" href="#">
          <i class="fa fa-users"></i><span>Team Management</span>
        </a>
      </li>

      <li class="dropdown mega-dropdown nav-item" data-menu="megamenu">
        <a class="dropdown-toggle nav-link" href="#">
          <i class="fa fa-street-view"></i><span>Dispacher Management</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /horizontal menu content-->
</div>
<!-- Horizontal navigation-->
