<div class="container">
    <h3 class="page-title no-padding">Edit Order</h3>
</div>

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading"
     class="container edit-order-container uk-card uk-card-default">

</div>