:host {
    color: #000;
}

* {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    background-color: #C3C3C3;
    border-bottom: 1px solid #a3a3a3;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fa {
    cursor: pointer;
    z-index: 999999;
}

p {
    margin: 5px 0;
    padding: 2px;
}

.read {
    background-color: #fff
}

.approval-box i {
    width: 50px;
}

.approval-box i {
    font-size: 20px;
    margin-bottom: 5px;
}

.details {
    flex: 1
}
