<h2>
  Notifications
</h2>

<p-progressSpinner class="loading-spinner" *ngIf="isLoading"></p-progressSpinner>

<ul class="list-group list-inline list-unstyled">
  <li>
    <label for="startDate"> Start Date</label>
    <input class=" input-sm" id="startDate" type="date" [(ngModel)]="dateObj.startDate">
  </li>

  <li>
    <label for="endDate"> End Date</label>
    <input class=" input-sm" id="endDate" type="date" [(ngModel)]="dateObj.endDate">
  </li>

  <li>
    <button class="btn btn-primary" (click)="showNotificationbetweenDatesAndResetPaging()"> Show</button>
  </li>

  <li>
    <button class="btn btn-primary" (click)="onResetDates()"> Reset</button>
  </li>

  <!-- <li>
    <button class="btn btn-primary" (click)="onExport()"> Export</button>
  </li> -->
</ul>
<hr>

<p-dataView [lazy]="true" (onPage)="loadData($event)" [totalRecords]="totalRecords" [value]="notifications"
  [loading]="loading" [paginator]="true" [rows]="5">

  <ng-template let-notification pTemplate="listItem">

    <div class="flex-container" [ngClass]="{'read':notification.isRead}" (click)="onNotificationClick(notification)">
      <div class="details">
        <h5>
          {{notification.title}}
        </h5>
        <p>
          {{notification.body}}
        </p>
        <div class="approval-box" *ngIf="notification.notificationType === 'Change order priority' && notification.isRead === false">
          <i class="fa fa-thumbs-o-up" (click)="onApproveRequest($event,notification,i,true)"></i>
          <i class="fa fa-thumbs-o-down" (click)="onApproveRequest($event,notification,i,false)"></i>
        </div>
      </div>
      <div class="icons">
        <i class="fa fa-remove" (click)="onDeleteNotification($event,notification,i)"></i>
        <img src="./../../../../assets/Images/MarkAsRead.png" (click)="onUpdateNotification($event,notification,i)" />
      </div>
    </div>
  </ng-template>
</p-dataView>