<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">View All quotations</h3>

<div class="container">

  <app-search [hideFromTo]="false" (searchCanceled)="getAllQuotations()" [hidden]="toggleLoading"
              [placholder]="'Please, Type Customer name or phone number to search ...'"
              (searchValue)="filterQuotations($event)"></app-search>

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages *ngIf="roles.includes('CallCenter')" [(value)]="bigMessage"></p-messages>
      </div>
    </div>

    <!--<div class="col-md-offset-1">-->
    <!--<h4 class="sub-title">List of quotations</h4>-->
    <!--</div>-->

    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <h4 class="sub-title">List of quotations</h4>
      </div>
      <div class="col-md-2 uk-text-right">
        <button class="btn btn-dark" (click)="exportCsv()">Export</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <ngx-datatable class="material expandable" [rows]="quotations.reverse()" [columnMode]="'force'" [columns]="[]"
                       [headerHeight]="50"
                       [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                       [selected]="[]"
                       [selectionType]="'falsey'">
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false" [headerCheckboxable]="false"
                                [checkboxable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerName" name="Customer Name"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="refNumber" name="Reference No"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="estimationRefNumber"
                                name="Estimation Reference No"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerMobile" name="Customer Mobile"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="area" name="Area"></ngx-datatable-column>

          <ngx-datatable-column *ngIf="roles.includes('CallCenter')" [width]='200' prop="id" name="Download">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <a (click)="downloadQuotationWord(row.id)">{{row.refNumber}}</a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column *ngIf="roles.includes('Maintenance')" [width]='100' prop="id" name="Download">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <!--<a >{{row.refNumber}}</a>-->
              <button class="btn btn-light" (click)="routeToViewQuotation(row.refNumber )">View</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column *ngIf="roles.includes('Maintenance') || roles.includes('Callcenter')" [width]='200' prop="id" name="Contract">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <p-splitButton label="Generate Contract" appendTo="body" icon="fa-check"
                             (onClick)="routeToGenerateContract(row.refNumber)" (onDropdownClick)="setActiveRow(row)"
                             [model]="buttonsList"></p-splitButton>

            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
</div>
