<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<ngx-datatable class="material expandable" [rows]="estimations" [columnMode]="'force'" [columns]="[]"
               [headerHeight]="50"
               [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
               [selected]="[]"
               [selectionType]="'falsey'">
  <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                        [resizeable]="false" [headerCheckboxable]="false"
                        [checkboxable]="false">
  </ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="customerName" name="Customer Name"></ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="refNumber" name="Reference No"></ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="customerMobile" name="Customer Mobile"></ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="area" name="Area"></ngx-datatable-column>

  <ngx-datatable-column [width]='100' prop="id" name="Edit">
    <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
      <button class="btn btn-light" (click)="editEstimation(row)">
        <i class="fa fa-pencil-square-o"></i>Edit
      </button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]='250' prop="id" name="Quotation">
    <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
      <!--<div #container style="z-index: 90000000; display: inline; position: absolute; top: 5px">-->

      <p-splitButton *ngIf="!row.hasQuotation" label="Generate Quotation" icon="fa-check" appendTo="body"
                     (onClick)="routeToEstimationDetails(row)" (onDropdownClick)="setActiveRow(row)"
                     [model]="buttonsList"></p-splitButton>


      <p *ngIf="row.hasQuotation"><strong>Quotation created</strong></p>

    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
