<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" *ngIf="!show_resetPasswordFields">{{header}}</h4>
  <h4 class="modal-title" *ngIf="show_resetPasswordFields">Reset Password</h4>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="isLoading"></p-progressSpinner>

<form #editForm="ngForm" autocomplete="off">
  <div class="modal-body" *ngIf="!show_resetPasswordFields">
    <div class="form-group">
      <label>User Name :</label>
      <input type="text" class="form-control" name="userName" [(ngModel)]="userData.basic.userName" required />
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.userName.invalid" severity="error"
                   text="Value is required to be saved!"></p-message>
      </div>
    </div>
    <div class="form-group" *ngIf="!data.id">
      <label>Password :</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="userData.basic.password"
             required />
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.password.invalid" severity="error"
                   text="Value is required to be saved!"></p-message>
      </div>
    </div>
    <div class="form-group">
      <label>First Name :</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="userData.basic.firstName" required />
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.firstName.invalid" severity="error"
                   text="Value is required to be saved!"></p-message>
      </div>
    </div>
    <div class="form-group">
      <label>Last Name :</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="userData.basic.lastName" required />
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.lastName.invalid" severity="error"
                   text="Value is required to be saved!"></p-message>
      </div>
    </div>
    <div class="form-group" *ngIf="role != 'Admin'">
      <label>Cost Center</label>
      <select class="form-control" name="costCenter" [(ngModel)]="costCenter" required
              [compareWith]="compareByOptionId">
        <option [ngValue]="c" *ngFor="let c of costCenters">{{c.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="role != 'Admin'">
      <label>Division</label>
      <select class="form-control" name="divisionObj" [(ngModel)]="divisionObj" required
              [compareWith]="compareByOptionId">
        <option [ngValue]="d" *ngFor="let d of divisions">{{d.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="role == 'Supervisor'">
      <label>Manager</label>
      <select class="form-control" name="managerObj" [(ngModel)]="managerObj" required
              [compareWith]="compareByOptionId">
        <option [ngValue]="manager" *ngFor="let manager of managers">{{manager.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="role == 'Foreman'">
      <label>Engineer</label>
      <select class="form-control" name="engineer" [(ngModel)]="engineer" required
              [compareWith]="compareByOptionId">
        <option [ngValue]="e" *ngFor="let e of engineers">{{e.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="role == 'Dispatcher'|| role == 'Foreman'">
      <label>Supervisor</label>
      <select class="form-control" name="supervisor" [(ngModel)]="supervisor" required
              [compareWith]="compareByOptionId">
        <option [ngValue]="s" *ngFor="let s of superVisors">{{s.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="role == 'Foreman'">
      <label>Dispatcher</label>
      <select class="form-control" name="Dispatcher" [(ngModel)]="dispatcher" required
              [compareWith]="compareByOptionId">
        <option [ngValue]="dis" *ngFor="let dis of dispatchers">{{dis.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Personnel Number :</label>
      <input type="number" class="form-control" name="pf" [(ngModel)]="pf" required />
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.pf.invalid" severity="error"
                   text="Value is required to be saved!"></p-message>
      </div>
    </div>
    <div class="form-group" *ngIf="role == 'Technician'">
      <label>Is Driver</label><br />
      <p-toggleButton [ngModelOptions]="{standalone: true}" [(ngModel)]="isDriver" onLabel="Diver"
                      offLabel="Technician" [onIcon]="'pi pi-check'" offIcon="pi pi-times" [style]="{'width':'150px'}">
      </p-toggleButton>
    </div>
  </div>

  <div class="modal-body" [hidden]="!show_resetPasswordFields">
    <div class="form-group">
      <label>User Name :</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="data.userName" required readonly />
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid" severity="error"
                   text="Value is required to be saved!"></p-message>
      </div>
    </div>
    <div class="form-group">
      <label>New Password :</label>
      <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" required />
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.newPassword.invalid" severity="error"
                   text="Value is required to be saved!"></p-message>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary pull-left" type="button" (click)="onResetPassword()"
            *ngIf="!show_resetPasswordFields">
      Reset Password
    </button>
    <button class="btn btn-primary pull-left" type="button" (click)="editOtherFields()"
            *ngIf="show_resetPasswordFields">
      Edit Other Fields
    </button>
    <button class="btn" type="button" (click)="activeModal.dismiss()">Close</button>
    <button class="btn btn-primary" type="submit" (click)="saveUser()"
            *ngIf="!show_resetPasswordFields">
      Save
    </button>
    <button class="btn btn-primary" type="submit" (click)="saveNewPassword(editForm)"
            *ngIf="show_resetPasswordFields">
      Save
    </button>
    <img *ngIf="isSaving" alt=""
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>
