<p-growl [(value)]="cornerMessage"></p-growl>
<div class="overlayer" [hidden]="fetchingDataDone && !toggleLoading">
  <div class="spinner-containerr">
    <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
  </div>
</div>
<div class="container dispatcher-order-container uk-card uk-card-default">
  <div class="row">
    <div class="col-md-12">
      <label class="dispatcher-title" for="dispatcher">Choose Dispatcher</label>
      <p-dropdown (onChange)="onSelectDispatcher($event)" [resetFilterOnHide]="true" placeholder="Choose Dispatcher"
        [options]="dispatcherList" [style]="{minWidth:'200px'}" [panelStyle]="{minWidth:'200px'}">
      </p-dropdown>
    </div>
    <div *ngIf="selectedDispatcher.id">
      <div class="col-md-12">
        <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade"
          *ngIf="!showFilter" (click)="showHideFilter()">
          <i *ngIf="!isFilterActive" class="fa fa-sort-down"></i>
          <i *ngIf="isFilterActive" class="fa fa-filter"></i>
        </button>
        <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="showFilter" (click)="showHideFilter()"></i>
      </div>
      <div class="row uk-animation-slide-top-small filter-container" [hidden]="!showFilter">
        <app-order-filter (resetFilter)="resetBoardFilter();" (filterTermsBoard)="applyFilterBoardTemplate($event);"
          [type]="'order board'"></app-order-filter>
      </div>
      <div class="row">
        <div class="row margin-top-10">
          <div class="orders-section col-md-2">
            <div class="orders-overflow-container scrollbar">
              <div class="order-header">
                <h4 class="text-center">Unassigned</h4>
              </div>
              <div class="unassigned-orders-container scrollbar">
                <div [ngClass]="['#orderId' + order.id] && order.classes" *ngFor="let order of orders"
                  class="order-card">
                  <app-order-card (orderTransfered)="orderTransfered($event)"
                    (orderSelected)="addOrderToSelection($event)" [bulkAssignMode]="isBulkAssign" [order]="order">
                  </app-order-card>
                </div>
              </div>
            </div>
          </div>
          <div class="tec-section col-md-9">
            <div [ngClass]="{toggleOverflowX : true, 'full-screen':fullScreenMap}"
              class="technican-overflow-container scrollbar">
              <div *ngFor="let foreman of foremen" class="single-tec">
                <div class="tec-header foreman-name">
                  <h4 class="text-center">{{foreman?.foremanName}}</h4>
                </div>
                <div class="flex-container full-height">
                  <div *ngFor="let team of foreman.teams" class="flex-team">
                    <div class="tec-header">
                      <h4 class="text-center">{{team?.teamName}}</h4>
                    </div>
                    <div class="single-tec-overflow scrollbar">
                      <div [ngClass]="['#teamId' + team.teamId]" style="height: 100%">
                        <div *ngFor="let order of team.filterOrders" [ngClass]="order && order.classes">
                          <app-order-card (orderTransfered)="orderTransfered($event)"
                            (orderSelected)="addOrderToSelection($event)" [bulkAssignMode]="isBulkAssign"
                            [order]="order">
                          </app-order-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p *ngIf="!foremen?.length">No Teams Assigned</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>