<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">view all orders</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="container">

  <app-search (searchCanceled)="getAllOrders()" [hidden]="toggleLoading" (searchValue)="searchByValue($event)"
              [placholder]="'Please type contract number, customer phone or customer name to search ...'"></app-search>

  <div [hidden]="toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages [(value)]="bigMessage"></p-messages>
      </div>
    </div>
    <app-order-table [orders]="allOrders"></app-order-table>

  </div>
</div>
