<p-growl [(value)]="cornerMessage"></p-growl>
<div class="overlayer" [hidden]="fetchingDataDone && !toggleLoading">
  <div class="spinner-containerr">
    <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
  </div>
</div>
<div class="container uk-card uk-card-default">
  <div class="row">
    <div class="col-12">
      <div id="printBtnContainer">
        <button class="btn btn-primary" (click)="onPrint()">
          <i class="fa fa-print"></i>
        </button>
        <span *ngIf="foremenWithOrders.length > 0">{{ numberOfOrders }} orders to be printed</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form #printoutForm="ngForm">
        <div class="filter-form-section">
          <div class="form-group" *ngIf="foremen.length > 0">
            <label>Foreman</label>
            <p-multiSelect [options]="foremen" name="foremen" [(ngModel)]="selected_foremen" optionLabel="name"
              (onChange)="onForemenSelect()">
            </p-multiSelect>
          </div>

          <div class="form-group" *ngIf="selected_foremen.length > 0">
            <label>Team</label>
            <p-multiSelect [options]="teams" name="teams" [(ngModel)]="selected_teams" optionLabel="name"
              (onChange)="onTeamSelect()">
            </p-multiSelect>
          </div>
        </div>
        <div class="filter-form-section">
          <div class="form-group">
            <input type="checkbox" name="dispatched_included" [(ngModel)]="includeOpenOrders" id="dispatchedOrdersIncluded"
              [checked]="includeOpenOrders" (change)="onChangeIncludeOpenOrders()">
            <label for="dispatchedOrdersIncluded" id="checkboxLabel">include open orders</label>
          </div>

          <div class="form-group">
            <button class="btn btn-primary px-5" type="button" (click)="onReset(printoutForm)">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container uk-card uk-card-default" #printedSection>
  <div class="row">
    <div class="col-12">
      <p id="noOrdersIndicator" [hidden]="foremenWithOrders.length > 0">No Orders To Show</p>
      <div *ngIf="foremenWithOrders.length > 0" class="page-container">
        <div *ngFor="let foreman of foremenWithOrders">
          <div class="orders-container" *ngFor="let page of foreman.ordersWithPages; let i = index">
            <h3 *ngIf="i == 0">Foreman : {{ foreman.foremanName }}</h3>
            <h5 *ngIf="i == 0">Area : {{ foreman.areaName  || foreman.areaId }}</h5>
            <div class="order" *ngFor="let order of page">
              <div class="order-left-column">
                <!-- Customer name -->
                <p><span>Customer name:</span>{{ order.customerName || '--' }}</p>
                <!-- Customer caller no -->
                <p><span>Customer caller no:</span>{{ order.caller_ID || '--' }}</p>
                <!-- Functional location -->
                <p><span>Functional location:</span>{{ order.functionalLocation || '--' }}</p>
                <!-- Area (in the PACI column) -->
                <p><span>Area:</span>{{ order.saP_AreaName || '--' }}</p>
                <!-- Block (in the PACI column) -->
                <p><span>Block:</span>{{ order.saP_BlockName || '--' }}</p>
                <!-- Street (in the PACI column) -->
                <p><span>Street:</span>{{ order.saP_StreetName || '--' }}</p>
                <!-- House\kasima (in the PACI column) -->
                <p><span>House\kasima:</span>{{ order.saP_HouseKasima || '--' }}</p>
                <!-- Address note -->
                <p><span>Address note:</span>{{ order.addressNote || '--' }}</p>
                <!-- Current status -->
                <p><span>Current status:</span>{{ order.statusName || '--' }}</p>
                <!-- Technician visit notes -->
                <p><span>Technician visit notes:</span>{{ order.serveyReport || '--' }}</p>
              </div>
              <div class="order-right-column">
                <!-- Order No -->
                <p><span>Order No:</span>{{ order.code || '--' }}</p>
                <!-- Order type -->
                <p><span>Order type:</span>{{ order.typeName || '--' }}</p>
                <!-- Creation date: shows the order creation date and time -->
                <p><span>Creation date:</span>{{ order.createdDate || '--' }}</p>
                <!-- Company code -->
                <p><span>Company code:</span>{{ order.companyCodeName || '--' }}</p>
                <!-- Contract type -->
                <p><span>Contract type:</span>{{ order.contractTypeName || '--' }}</p>
                <!-- Contract Expiration date -->
                <p><span>Contract Expiration date:</span>{{ order.contractExpiryDate || '--' }}</p>
                <!-- Dispatcher name: shows current dispatcher name -->
                <p><span>Dispatcher name:</span>{{ order.dispatcherName || '--' }}</p>
                <!-- Foreman name -->
                <p><span>Foreman name:</span>{{ foreman.foremanName || '--' }}</p>
                <!-- Technician name -->
                <p><span>Technician name:</span>{{ order.techName || '--' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>