.overlayer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: -ms-flexbox;
    display: flex;
    /* background-color: #f8f8f8; */
    top: 0;
    opacity: 0.9;
}

.spinner-containerr {
    margin: auto;
}

@media (min-width: 1200px) {
    /* line 214, dispatcher-order-board.component.scss */
    .container {
        width: 98%;
    }
}

/* line 219, dispatcher-order-board.component.scss */

.container {
    margin-right: 15px;
    margin-left: 15px;
}

.filter-form-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filter-form-section .form-group {
    margin-right: 12px;
    min-width: 200px;
}

:host >>> .ui-multiselect .ui-multiselect-trigger {
    height: 95% !important;
}

#noOrdersIndicator {
    background-color: #ddd;
    text-align: center;
    color: #857c7c;
    padding: 20px 10px;
    font-size: 20px;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border: 01px solid #857c7c;
    margin: 10px;
}

.order-left-column , .order-right-column {
    flex: 1;
}

.order-left-column p , .order-right-column p {
    margin: 0;
}

.order-left-column p span , .order-right-column p span {
    font-weight: bold;
    margin-right: 10px;
}

#printBtnContainer button {
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}

#checkboxLabel {
    margin-top: 05px;
    margin-left: 05px;
}

.orders-container h3 , .orders-container h5 {
    margin-top: 05px;
    margin-bottom: 05px;
}

.orders-container {
    border-bottom: 01px dashed rgb(128, 123, 123);
    padding-bottom: 10px;
    min-height: 1010px;
}