<div class="flex-container full-width tab-container">
  <div class="tab"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/team-management/add']">
    <i class="fa fa-plus"></i>
    Add Team
  </div>
  <div class="tab"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/team-management/update']">
    <i class="fa fa-edit"></i>
    Update Team
  </div>
  <div class="tab"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/team-management/vehicle']">
    <i class="fa fa-car"></i>
    Vehicles
  </div>
</div>

<router-outlet></router-outlet>