/* line 5, estimation.component.scss */
.estimation-container .table {
  padding-top: 50px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #f0f0f0;
}
/* line 49, estimation.component.scss */
.estimation-container .total-margin {
  font-weight: bold;
}
