
.tabs {
    margin-top: 0px !important;
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

.uk-tab {
    margin-top: 1%;
    padding-left: 3%;
}

.tabs .uk-active {
    color: #02466b !important;
    font-weight: 400;
}

.tabs li {
    color: black;
    cursor: pointer;
}

.tabs li:focus, .tabs .uk-active:focus {
    cursor: default !important;
    outline: none !important;
}

.tabs li a {
    font-size: 1em;
}

/*.uk-tab > .uk-active > a {*/
/*color: #02466b;*/
/*border-bottom: 3px solid #f28a2c;*/
/*padding-bottom: 1%;*/
/*}*/

/*.uk-tab > * > a {*/
/*text-transform: none !important;*/
/*!* padding: 5px 0px; *!*/
/*text-align: unset;*/
/*display: inline-block;*/
/*}*/