<!--<ul uk-tab class="tabs uk-tab">-->
<!--<li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}" routerLink="/dispatcher">Orders-->
<!--Board<a></a>-->
<!--</li>-->
<!--<li routerLinkActive="uk-active" routerLink="/dispatcher/time-sheet">Time Sheet<a></a>-->
<!--</li>-->
<!--</ul>-->

<div>
    <router-outlet></router-outlet>
</div>