/* line 6, assign-tec.component.scss */
.assign-tec-container h4 button {
  border-color: #02466b;
  color: #0486cd;
  border-radius: 15px;
  font-weight: normal;
  text-transform: capitalize;
  float: right;
  padding: 3px 15px;
  transition: 0.5s all;
}
/* line 15, assign-tec.component.scss */
.assign-tec-container h4 button:hover {
  transition: 0.5s all;
  background-color: #02466b;
  color: white;
}
/* line 21, assign-tec.component.scss */
.assign-tec-container h4 span {
  color: #f28a2c;
}
/* line 25, assign-tec.component.scss */
.assign-tec-container .tec-container {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 200px;
  border: 1px solid lightgray;
}
/* line 30, assign-tec.component.scss */
.assign-tec-container .tec-container em {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* line 35, assign-tec.component.scss */
.assign-tec-container .tec-container p {
  display: inline-block;
  margin: 5px;
  font-size: 1em;
  text-transform: capitalize;
  cursor: grab;
  color: white;
  border-radius: 15px;
  background-color: #0486cd;
  padding: 4px 10px;
  transition: 0.5s all;
}
/* line 46, assign-tec.component.scss */
.assign-tec-container .tec-container p:hover {
  transition: 0.5s all;
  background-color: #02466b;
}
/* line 50, assign-tec.component.scss */
.assign-tec-container .tec-container p i:first-child {
  color: #0486cd;
}
/* line 53, assign-tec.component.scss */
.assign-tec-container .tec-container p i:nth-child(2) {
  transition: 0.5s all;
  margin-left: 15px;
  color: #b0e2fe;
}
/* line 57, assign-tec.component.scss */
.assign-tec-container .tec-container p i:nth-child(2):hover {
  transition: 0.5s all;
  color: white;
}
/* line 64, assign-tec.component.scss */
.assign-tec-container .dispatcher-title {
  margin-top: 35px;
}
/* line 67, assign-tec.component.scss */
.assign-tec-container .dispatchers-container {
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
  border: 1px solid lightgray;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
/* line 78, assign-tec.component.scss */
.assign-tec-container .dispatchers-container .uk-card {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: 0.5s all;
  border: 1px solid lightgray;
}
/* line 87, assign-tec.component.scss */
.assign-tec-container .dispatchers-container .uk-card:hover {
  transition: 0.5s all;
  border: 1px solid #02466b;
}
/* line 91, assign-tec.component.scss */
.assign-tec-container .dispatchers-container .uk-card p {
  display: none;
}
/* line 94, assign-tec.component.scss */
.assign-tec-container .dispatchers-container .uk-card h4 {
  text-transform: capitalize;
  text-align: center;
  min-width: 150px;
}
