<div class="beforeFilterTemp"></div>
<form #filterForm="ngForm" class="filter-form" (submit)="applyFilter()">

  <div class="sections-container">

    <div class="filter-form-section">
      <div class="form-group">
        <label for="dateto">Creation Start Date:</label>
        <input class="input-sm" id="dateFrom" name="dateFrom" type="date" [(ngModel)]="timeObj.dateFrom">
      </div>
    </div>

    <div class="filter-form-section">
      <div class="form-group">
        <label for="dateto">Creation End Date:</label>
        <input class="input-sm" id="dateTo" name="dateTo" type="date" [(ngModel)]="timeObj.dateTo">
      </div>
    </div>

    <div class="filter-form-section">
      <label>Status</label>
      <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Status Selected'" name="status"
        [options]="allStatuses" [(ngModel)]="filter.status" optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section">
      <label>Problem</label>
      <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Problems Selected'" name="problem"
        [options]="allProblems" [(ngModel)]="filter.problems" optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section">
      <label>Division :</label>
      <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Divisions Selected'" name="division"
        [options]="allDivisions" [(ngModel)]="filter.divisions" optionLabel="name"></p-multiSelect>
    </div>

  </div>

  <div class="sections-container">    

    <div class="filter-form-section">
      <label>Dispatcher :</label>
      <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Dispatchers Selected'" name="dispatcher"
        [options]="allDispatchers" [(ngModel)]="filter.dispatchers" optionLabel="name"></p-multiSelect>
    </div>
    
    <div class="filter-form-section">
      <label>Technician :</label>
      <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Technicians Selected'" name="technician"
        [options]="allTechnicians" [(ngModel)]="filter.technicians" optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section">
      <label>Area</label>
      <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Areas Selected'" name="area" [options]="allStatus"
        [(ngModel)]="filter.areas" optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section">
      <label>Order type:</label>
      <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} OrderTypes Selected'" name="orderType"
        [options]="allOrderTypes" [(ngModel)]="filter.orderTypes" optionLabel="name"></p-multiSelect>
    </div>
  </div>

  <div class="buttons-container">

    <button (click)="applyResetFilter()" type="button" class="btn btn-light report-button">Reset</button>

    <button type="submit" class="btn btn-dark report-button">Filter</button>

  </div>

</form>