/* line 1, order-filter.component.scss */
.filter-form {
    width: 95%;
    margin: 35px auto 0;
}

/* line 4, order-filter.component.scss */
.filter-form .filter-form-section {
    /* height: 85px; */
    width: 100%;
}

/* line 9, order-filter.component.scss */
.filter-form .buttons-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

/* line 11, order-filter.component.scss */
.filter-form .buttons-container .btn {
    margin-right: 10px;
    margin-left: 10px;
}

/* line 15, order-filter.component.scss */
.filter-form label {
    display: block;
}

/* line 21, order-filter.component.scss */
.beforeFilterTemp ~ .filter-form {
    width: 83%;
}

/* line 23, order-filter.component.scss */
.beforeFilterTemp ~ .filter-form .sections-container {
    width: 100%;
    display: flex;
    align-items: center;
}

/* line 29, order-filter.component.scss */
.beforeFilterTemp ~ .filter-form .sections-container .filter-form-section {
    margin: 0 10px;
}

/* line 34, order-filter.component.scss */
.beforeFilterTemp ~ .filter-form .sections-container .filter-form-section:last-child label {
    display: inline;
}

/* line 40, order-filter.component.scss */
.beforeFilterTemp ~ .filter-form .buttons-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    /*width: 300px;*/
}

/* line 44, order-filter.component.scss */
.beforeFilterTemp ~ .filter-form .buttons-container .report-button {
    width: auto;
}

/* line 47, order-filter.component.scss */
.beforeFilterTemp ~ .filter-form .buttons-container button {
    margin-right: 10px;
    margin-left: 10px;
    justify-self: flex-end;
    /*flex-grow: 1;*/
}

/* line 51, order-filter.component.scss */
/* .beforeFilterTemp ~ .filter-form .buttons-container button:first-child { */
    /*background-color: #66cc00;*/
    /*border-color: #66cc00;*/
/* } */
