<div *ngIf="type == 'report' || type == 'order board'" class="beforeFilterTemp"></div>
<form #filterForm="ngForm" class="filter-form" (submit)="applyFilter()">


    <div class="sections-container">

        <div class="filter-form-section" *ngIf="type == 'order board'">
            <div class="form-group">
                <label>Order Code</label>
                <input class="form-control" placeholder="Order NO" name="orderNo" [(ngModel)]="filter.code">
            </div>
        </div>

        <div class="filter-form-section" *ngIf="type == 'order board'">
            <div class="form-group">
                <label>Customer Name</label>
                <input class="form-control" placeholder="Customer Name" name="customerName"
                    [(ngModel)]="filter.customerName">
            </div>
        </div>


        <div class="filter-form-section" *ngIf="type == 'order board'">
            <div class="form-group">
                <label>Customer Phone</label>
                <input class="form-control" placeholder="Phone" name="customerPhone" [(ngModel)]="filter.phone">
            </div>
        </div>

        <div class="filter-form-section">
            <div class="form-group">
                <label>Area</label>
                <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Areas Selected'" name="area"
                    [options]="allAreas" [(ngModel)]="filter.areas" optionLabel="name"></p-multiSelect>
            </div>
        </div>

        <div class="filter-form-section" *ngIf="type == 'order board'">
            <div class="form-group">
                <label>Block Name</label>
                <input class="form-control" placeholder="Block Name" name="blockName" [(ngModel)]="filter.blockName">
            </div>
        </div>

        <div class="filter-form-section" *ngIf="type == 'map'">
            <div class="form-group">
                <label for="dateFrom">Creation Start Date:</label>
                <input class="input-sm" id="dateFrom" name="dateFrom" type="date" [(ngModel)]="filter.dateFrom">
            </div>
        </div>

        <div class="filter-form-section" *ngIf="type == 'map'">
            <div class="form-group">
                <label for="dateto">Creation End Date:</label>
                <input class="input-sm" id="dateTo" name="dateTo" type="date" [(ngModel)]="filter.dateTo">
            </div>
        </div>

        <div class="filter-form-section" *ngIf="type == 'map'">
            <label>Technician :</label>
            <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Technicians Selected'" name="technician"
                [options]="allTechnicians" [(ngModel)]="filter.technicians" optionLabel="name"></p-multiSelect>
        </div>

        <div class="filter-form-section" *ngIf="type == 'map'">
            <label>Order type:</label>
            <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} OrderTypes Selected'" name="orderType"
                [options]="allOrderTypes" [(ngModel)]="filter.orderTypes" optionLabel="name"></p-multiSelect>
        </div>

    </div>

    <div class="sections-container">

        <div class="filter-form-section" *ngIf="type == 'order board'">
            <div class="form-group">
                <label for="customerCode">Customer Code</label>
                <input class="input-sm" id="customerCode" name="customerCode" class="form-control"
                    placeholder="Customer Code" type="text" [(ngModel)]="filter.customerCode">
            </div>
        </div>
        <div class="filter-form-section">
            <label>Problem</label>
            <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Problems Selected'" name="problem"
                [options]="allProblems" [(ngModel)]="filter.problems" optionLabel="name"></p-multiSelect>
        </div>

        <div class="filter-form-section">
            <label>Status</label>
            <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Status Selected'" name="status"
                [options]="allStatuses" [(ngModel)]="filter.status" optionLabel="name"></p-multiSelect>
        </div>

        <div class="filter-form-section" *ngIf="type == 'map'">
            <label>Division :</label>
            <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Divisions Selected'" name="division"
                [options]="allDivisions" [(ngModel)]="filter.divisions" optionLabel="name"></p-multiSelect>
        </div>

        <div class="filter-form-section" *ngIf="type == 'map'">
            <label>Dispatcher :</label>
            <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Dispatchers Selected'" name="dispatcher"
                [options]="allDispatchers" [(ngModel)]="filter.dispatchers" optionLabel="name"></p-multiSelect>
        </div>

        <div class="filter-form-section" *ngIf="type == 'order board'">
            <label>Rejection</label>
            <!-- <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Status Selected'" name="rejection"
                [options]="allRejectionStatus" [(ngModel)]="filter.RejectionStatus" optionLabel="name"></p-multiSelect> -->
            <select name="rejection" [(ngModel)]="filter.RejectionStatus" class="form-control">
                <option value="1">No Action</option>
                <option value="2">Accepted</option>
                <option value="3">Rejected</option>
                <option value="4">All</option>
            </select>
        </div>

        <!-- <div class="filter-form-section">
            <label>Rejection Status</label>
            <p-multiSelect [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Rejection Status Selected'" name="Rejection"
                [options]="allRejectionStatus" [(ngModel)]="filter.rejectionStatus" optionLabel="name"></p-multiSelect>
        </div> -->

        <!-- important note -->
        <!-- I created two from where because of the difference of the values between dynamic and static -->
        <!-- dynamic : assigned = 1, unassigned = 2, both = 3 -->
        <!-- static : unassigned = 1, assigend = 2, both = 3 -->
        <div class="filter-form-section" *ngIf="type == 'order board'">
            <div class="form-group">
                <label>From where</label>
                <select class="form-control margin-top-5" name="fromWhere" [(ngModel)]="filter.fromWhere">
                    <option value="1">Unassigned only</option>
                    <option value="2">Assigned only</option>
                    <option value="3">Both</option>
                </select>
            </div>
        </div>
        <div class="filter-form-section" *ngIf="type == 'map'">
            <div class="form-group">
                <label>From where</label>
                <select class="form-control margin-top-5" name="fromWhere" [(ngModel)]="filter.fromWhere">
                    <option value="1">Assigned only</option>
                    <option value="2">Unassigned only</option>
                    <option value="3">Both</option>
                </select>
            </div>
        </div>
    </div>

    <div class="buttons-container">

        <button *ngIf="type == 'report'" (click)="exportCsv()" type="button" class="btn btn-light report-button"
            [disabled]="!reportOrders.length">Export
        </button>

        <!--<button *ngIf="type == 'map'" (click)="emitTodayOrders()" type="button" class="btn btn-light">Today Orders-->
        <!--</button>-->

        <button *ngIf="type == 'report' || type == 'order board' || type == 'map'" (click)="applyResetFilter()"
            type="button" class="btn btn-light report-button">
            Reset
        </button>

        <button [disabled]="checkFilter()" type="submit" class="btn btn-dark report-button">Filter</button>
    </div>
</form>