<p-growl [(value)]="msg" [life]="5000"></p-growl>

<div class="row tabs">
</div>

<h3 class="page-title">{{routerName}}</h3>


<div class="row">
  <div class="uk-card uk-card-default">

    <div class="container-fluid uk-animation-fade">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>