<div class="container">

  <div>
    <h4 class="page-title">Estimations Report</h4>
  </div>

  <!--<div class="row">-->

  <app-search *ngIf="!toggleLoading" (searchCanceled)="getAllOrders()" [placholder]="'Please, Type Estimation code...'"
              [hideFromTo]="false"
              (searchValue)="filterEstimations($event)"></app-search>

  <div class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="col-md-offset-1">
      <h4 class="sub-title">List of Estimations</h4>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <app-all-estimations-table [estimations]="estimations"></app-all-estimations-table>
      </div>
    </div>
  </div>
</div>
