<div [ngClass]="{'bordered': !order.lat || !order.long}" [ngStyle]="chooseColor(order.typeName, order.priorityName, order.createdDate)" class="order-card uk-card uk-card-default">

    <label>
        <h4 class="order-number">
            <input [id]="order.id" *ngIf="bulkAssignMode" (change)="selectOrder()" type="checkbox">#{{order?.code}}
        </h4>
    </label>

    <div class="card-body margin-top-10 padding-bottom-10">
        <div class="side-column">
            <i *ngIf="order?.isExceedTime" pTooltip="Exceeding" tooltipPosition="top"
               class="fa fa-clock-o margin-bottom-2"
               aria-hidden="true"></i>
            <i *ngIf="order?.isRepeatedCall" pTooltip="Repeated call" tooltipPosition="top"
               class="fa fa-history margin-bottom-2"
               aria-hidden="true"></i>
            <i *ngIf="order?.acceptanceFlag == 2" pTooltip="Acceptance" tooltipPosition="top"
               class="fa fa-check margin-bottom-2"
               aria-hidden="true"></i>
            <i *ngIf="order?.acceptanceFlag == 3" [pTooltip]="order.rejectionReason || ''" tooltipPosition="right"
               class="fa fa-close margin-bottom-2"
               aria-hidden="true"></i>
            <i *ngIf="order?.acceptanceFlag == 1" pTooltip="No Actions" tooltipPosition="top"
               class="fa fa-circle-o"
               aria-hidden="true"></i>
        </div>
        <div class="center-column margin-right-5 margin-left-5">
            <h4 class="text-center">{{order?.customerName}}</h4>
            <h4 class="text-center margin-10 bold">{{order?.statusName}}</h4>
        </div>
        <div class="side-column">
            <button class="btn-light" (click)="openOrderProgressModal(order)" pTooltip="Progress" tooltipPosition="top">
                <i
                        class="fa fa-tasks"
                        aria-hidden="true"></i>
            </button>
            <button class="btn-light margin-top-2" [routerLink]="['edit-order',order.id]"
                    pTooltip="Edit" tooltipPosition="top"><i
                    class="fa fa-edit"
                    aria-hidden="true"></i>
            </button>
        </div>

    </div>
    <!--<h4>priority</h4>-->

    <!--<div *ngIf="currentDetailedOrderId == order.id" class="hidden-details uk-animation-slide-top-small">-->
    <!--<h4>status: {{order?.orderStatus?.name}}</h4>-->
    <!--&lt;!&ndash;<h4>status</h4>&ndash;&gt;-->
    <!--<h4>type: {{order?.orderType?.name}}</h4>-->
    <!--&lt;!&ndash;<h4>type</h4>&ndash;&gt;-->
    <!--<h4>Start: {{order?.startDateView}}</h4>-->
    <!--<h4>End :{{order?.endDateView}}</h4>-->
    <!--<h4 *ngIf="order.note">note: {{order?.note}}</h4>-->
    <!--</div>-->

    <!--<button (click)="setCurrentDetailedOrderId(null)" *ngIf="currentDetailedOrderId == order.id"-->
    <!--class="more-button"><i-->
    <!--class="fa fa-minus"></i> less details-->
    <!--</button>-->

    <!--<button (click)="setCurrentDetailedOrderId(order.id)" *ngIf="currentDetailedOrderId != order.id"-->
    <!--class="more-button"><i-->
    <!--class="fa fa-plus"></i> more details-->
    <!--</button>-->

    <!--<div class="button-group">-->
    <!--<button class="btn-light" (click)="openEditOrderModal(order)" pTooltip="Edit Order" tooltipPosition="top"><i-->
    <!--class="fa fa-pencil-square-o"></i></button>-->

    <!--<button class="btn-light" pTooltip="Set Visit time" tooltipPosition="top"-->
    <!--(click)="openSetTimeModal(order)"><i class="fa fa-clock-o"-->
    <!--aria-hidden="true"></i>-->
    <!--</button>-->

    <!--<button class="btn-light" (click)="openTransfer(order)" pTooltip="Transfer Order" tooltipPosition="top"><i-->
    <!--class="fa fa-exchange"-->
    <!--aria-hidden="true"></i>-->
    <!--</button>-->
    <!--<button class="btn-light" (click)="openOrderProgressModal(order)" pTooltip="Order progress"-->
    <!--tooltipPosition="top"><i-->
    <!--class="fa fa-tasks"-->
    <!--aria-hidden="true"></i>-->
    <!--</button>-->
    <!--</div>-->

</div>
