@import "../../../assets/stylesheets/color-theme";

.order-card {
  position: relative;
  width: 90%;
  margin: 2%;
  padding: 5px;
  display: inline-block;
  transition: 0.5s all;
  cursor: grab;
  .name {
    margin-top: 25px;
  }
  h4 {
    margin: 4px auto;
    font-size: 1em;
  }
  .order-number {
    position: absolute;
    top: 5px;
    left: 2%;
    margin: 0;
    color: scale_color($mainColor, $lightness: 50%);
  }
  .close-btn {
    position: absolute;
    top: 3px;
    right: 2%;
    border: none;
    font-size: 1.5em;
    margin: 0;
    transition: 0.5s all;
    &:hover {
      color: $mainColor;
      transition: 0.5s all;
    }
  }
  .more-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: scale_color($mainColor, $lightness: 50%);
    display: block;
    margin: 0 auto;
  }
  .button-group {
    margin-top: 25px;
    //text-align: center;
    button {
      box-sizing: border-box;
      height: 25px;
      width: 30px;
      margin: 3px auto;
      transition: 0.5s all;
      border: none;
      &:hover {
        border: none;
        transition: 0.5s all;
        background-color: $mainColor;
      }
    }
  }
}
