<div class="col-md-offset-1 col-md-10">
  <ul uk-accordion="multiple: false" class="accordion-header">
    <li *ngFor="let item of items" [ngClass]="applyDefaultActiveClass(item)">
      <h4 class="uk-accordion-title sub-title" (click)="getData(item)">{{item}}</h4>
      <div class="uk-accordion-content">
        <app-simple-admin-content [type]="item" [getData]="getDataForType"></app-simple-admin-content>
      </div>
    </li>
  </ul>
</div>