<ul class="list-group list-inline list-unstyled">
  <li>
    <label for="datefrom"> Date from </label>
    <input class=" input-sm" id="datefrom" type="date" [(ngModel)]="timeObj.dateFrom">
  </li>

  <li>
    <label for="dateto"> Date To </label>
    <input class=" input-sm" id="dateto" type="date" [(ngModel)]="timeObj.dateTo">
  </li>


  <li>
    <label for="PF"> Personnel Number </label>
    <input class=" input-sm" id="PF" type="text" placeholder="Personnel Number" [(ngModel)]="timeObj.pfNo">
  </li>


  <li>
    <label for="CostCenter"> Cost Center </label>
    <input class=" input-sm" id="CostCenter" type="text" placeholder="Cost Center" [(ngModel)]="timeObj.costCenter">
  </li>

  <li>
    <button class="btn btn-primary" (click)="ShowTime(timeObj)"> Show</button>
  </li>

  <li>
    <button class="btn btn-primary" (click)="onExport()"> Export</button>
  </li>
</ul>
<hr>


<div>
  <ngx-datatable class="material expandable" [rows]="rows" [columns]="[]" [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
    <ngx-datatable-column [width]='100' prop="data_Entry_Profile" name="Data Entry Profile"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="key_Date" name="Key Date "></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="personal_Number" name="Personnel Number"></ngx-datatable-column>
    <ngx-datatable-column [width]='100' prop="activity_Type" name="Activity Type"></ngx-datatable-column>
    <ngx-datatable-column [width]='100' prop="cost_Center" name="Cost Center"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="sales_Order_Number" name="Sales Order Number"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="sales_Order_Item_Number" name="Sales Order Item Number"></ngx-datatable-column>
    <ngx-datatable-column [width]='100' prop="order_Number" name="Order Number"></ngx-datatable-column>
    <ngx-datatable-column [width]='100' prop="network" name="Network"></ngx-datatable-column>
    <ngx-datatable-column [width]='100' prop="operation" name="Operation"></ngx-datatable-column>
    <ngx-datatable-column [width]='100' prop="sub_Operation" name="Sub Operation"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="attendance_or_activity_type" name="Attendance or Activity Tye"></ngx-datatable-column>
    <ngx-datatable-column [width]='100' prop="time" name="Hours"></ngx-datatable-column>
  </ngx-datatable>
</div>