<div>
  <div class="modal-header">
    Location on Google Map
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
        class="form-control" #search [formControl]="searchControl">
    </div>
    <div class="map-container uk-animation-fade">
      <agm-map (mapClick)="setLangANdLat($event)" [fullscreenControl]="true" [latitude]="lat" [longitude]="lng"
        [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">
        <agm-marker [latitude]="order?.lat" [visible]="true" [iconUrl]="order?.pin" [longitude]="order?.long"
          [markerDraggable]="false">
          <agm-info-window>
            <strong>Order Number : {{order?.code}}</strong>
            <br>
            <strong>Customer Name : {{order?.customerName}}</strong>
            <br>
            <strong>Order Priority : {{order?.priorityName}}</strong>
            <br>
            <strong>Order Status : {{order?.statusName}}</strong>
            <br>
            <strong>Order Type : {{order?.typeName}}</strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button (click)="closeModal()" class="btn btn-dark pull-right">Close</button>
    </div>
  </div>
</div>