<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">New Team</h4>
</div>

<form #editForm="ngForm" autocomplete="off">

    <div class="modal-body">

        <div class="form-group">
            <label>Name :</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="userObj.name" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>Vehicle Number :</label>
            <input type="text" class="form-control" name="vehicleNo" [(ngModel)]="userObj.vehicleNo" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.vehicleNo.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>Status</label>
            <select class="form-control" name="statusObj" [(ngModel)]="statusObj" required [compareWith]="compareByOptionId">
                <option [ngValue]="status" *ngFor="let status of statuses">{{status.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Division</label>
            <select class="form-control" name="divisionObj" [(ngModel)]="divisionObj" required (change)="getDrivers(divisionObj.id);getSuperVisor(divisionObj.id);getEngineers(divisionObj.id)">
                <option [ngValue]="d" *ngFor="let d of divisions">{{d.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Driver</label>
            <select class="form-control" name="driverObj" [(ngModel)]="driverObj" required [compareWith]="compareByOptionId" [disabled]="!divisionObj.id">
                <option [ngValue]="driver" *ngFor="let driver of drivers">{{driver.firstName}} {{driver.lastName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Engineer</label>
            <select class="form-control" name="engObj" [(ngModel)]="engObj" required [compareWith]="compareByOptionId" [disabled]="!divisionObj.id">
                <option [ngValue]="e" *ngFor="let e of engineers">{{e.firstName}} {{e.lastName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Supervisor</label>
            <select class="form-control" name="supervisorObj" [(ngModel)]="supervisorObj" required [compareWith]="compareByOptionId"
                [disabled]="!divisionObj.id" (change)="getDispatchers(supervisorObj.id)">
                <option [ngValue]="s" *ngFor="let s of superVisors">{{s.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Dispatcher</label>
            <select class="form-control" name="dispatcherObj" [(ngModel)]="dispatcherObj" required [compareWith]="compareByOptionId" [disabled]="!supervisorObj.id"
                    (change)="getFormen(dispatcherObj.id)">
                <option [ngValue]="dis" *ngFor="let dis of dispatchers">{{dis.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Forman</label>
            <select class="form-control" name="formanObj" [(ngModel)]="formanObj" required [compareWith]="compareByOptionId" [disabled]="!dispatcherObj.id">
                <option [ngValue]="f" *ngFor="let f of formans">{{f.firstName}} {{f.lastName}}</option>
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" (click)="activeModal.dismiss()">close</button>
        <button class="btn btn-primary" type="submit" (click)="addTeam()">Save</button>
    </div>
</form>
