<div class="container">
  <h3 class="page-title no-padding">{{pageTitle}}</h3>
</div>

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="container edit-order-container uk-card uk-card-default">

  <div class="row margin-bottom-10">
    <div class="col-md-12">
      <div class="clickable" routerLink="../..">
        <i class="fa fa-arrow-left dark-color"></i>
        <span class="margin-left-5 dark-color">Back</span>
      </div>
    </div>
  </div>

  <form class="margin-top-25" #editOrderForm="ngForm">

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>Customer No</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="customerNo" [(ngModel)]="orderDetails.customerCode">
      </div>
      <div class="col-md-2">
        <label>Customer Tel. 1</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="phone1" [(ngModel)]="orderDetails.phoneOne">
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>Customer Name</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="customerName" [(ngModel)]="orderDetails.customerName">
      </div>
      <div class="col-md-2">
        <label>Customer Tel. 2</label>
      </div>
      <div class="col-md-3">
        <input class="form-control" name="phone2" [(ngModel)]="orderDetails.phoneTwo">
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <label for="callerID">Caller ID</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="callerID" [(ngModel)]="orderDetails.caller_ID">
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>Contract No</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="contractCode" [(ngModel)]="orderDetails.contractCode">
      </div>
      <div class="col-md-2">
        <label>Created date</label>
      </div>
      <div class="col-md-3">
        <input *ngIf="!isEditMode" [disabled]="isEditMode" class="form-control"
               name="contractStartDate" [(ngModel)]="orderDetails.contractStartDate"
               placeholder="yyyy-MM-dd">

        <input *ngIf="isEditMode" [disabled]="isEditMode" class="form-control"
               name="contractStartDate"
               [ngModel]="orderDetails.contractStartDate | date:'dd/MM/yyyy'">
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <label>Contract Type</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="contractTypeName" [(ngModel)]="orderDetails.contractTypeName">
      </div>
      <div class="col-md-2">
        <label>Expiration Date</label>
      </div>
      <div class="col-md-3">
        <input *ngIf="!isEditMode" [disabled]="isEditMode" class="form-control" name="contractExpiryDate"
               [(ngModel)]="orderDetails.contractExpiryDate" placeholder="yyyy-MM-dd">

        <input *ngIf="isEditMode" [disabled]="isEditMode" class="form-control" name="contractExpiryDate"
               [ngModel]="orderDetails.contractExpiryDate | date:'dd/MM/yyyy'">
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div *ngIf="!togglePaciLoading">
      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>SAP PACI</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="saP_PACI" [(ngModel)]="orderDetails.saP_PACI">
        </div>
        <div class="col-md-2">
          <label>PACI</label>
        </div>
        <div class="col-md-3">
          <input class="form-control" (keyup)="getLoctionByPaci()" name="paci" [(ngModel)]="orderDetails.paci">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>SAP Governorate</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="saP_GovName" [(ngModel)]="orderDetails.saP_GovName">
        </div>
        <div class="col-md-2">
          <label>Governorate</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="govName" [(ngModel)]="orderDetails.govName">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>SAP Area</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="saP_AreaName" [(ngModel)]="orderDetails.saP_AreaName">
        </div>
        <div class="col-md-2">
          <label>Area</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="areaName" [(ngModel)]="orderDetails.areaName">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>SAP Block</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="saP_BlockName" [(ngModel)]="orderDetails.saP_BlockName">
        </div>
        <div class="col-md-2">
          <label>Block</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="blockName" [(ngModel)]="orderDetails.blockName">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>SAP Street</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="saP_StreetName" [(ngModel)]="orderDetails.saP_StreetName">
        </div>
        <div class="col-md-2">
          <label>Street</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="streetName" [(ngModel)]="orderDetails.streetName">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>SAP Floor</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="saP_Floor" [(ngModel)]="orderDetails.saP_Floor">
        </div>
        <div class="col-md-2">
          <label>Floor</label>
        </div>
        <div class="col-md-3">
          <input class="form-control" name="floor" [(ngModel)]="orderDetails.floor">
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <label>SAP Apartment</label>
        </div>
        <div class="col-md-3">
          <input [disabled]="isEditMode" class="form-control" name="saP_AppartmentNo" [(ngModel)]="orderDetails.saP_AppartmentNo">
        </div>
        <div class="col-md-2">
          <label>Apartment</label>
        </div>
        <div class="col-md-3">
          <input class="form-control" name="appartmentNo" [(ngModel)]="orderDetails.appartmentNo">
        </div>
      </div>

      <div class="row margin-top-10">
        <div class="col-md-offset-6 col-md-5">
          <!-- <a (click)="openMapModal()">Open Google Map ...</a> -->
          <!-- above line of code is commented because searching google maps is not working
              and I am trying to create a modal from scratch to be used instead of the ng-
              bootstrap modal to find out if the problem is in using the ng-bootstrap modal -->
          <a (click)="onOpenMap()">Open Google Map ...</a>
        </div>
      </div>
    </div>

    <!-- creating the modal from scratch to find out what the fuck is the problem -->
    <div id="overlay" [hidden]="!showMap">
      <div id="googleMapContainer">
        <div id="customModalHeader">
          Location on Google Map
        </div>
        <br>
        <div class="form-group">
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                 class="form-control" #search [formControl]="searchControl">
        </div>
        <agm-map [fullscreenControl]="true" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                 [zoomControl]="true" (mapClick)="placeMarker($event)">
          <agm-marker *ngIf="(orderDetails.lat != false) && (orderDetails.lng != false)" [latitude]="lat" [visible]="true" [iconUrl]="orderDetails?.pin"
                      [longitude]="lng" [markerDraggable]="false">
            <agm-info-window>
              <strong>Order Number : {{orderDetails?.code}}</strong>
              <br>
              <strong>Customer Name : {{orderDetails?.customerName}}</strong>
              <br>
              <strong>Order Priority : {{orderDetails?.priorityName}}</strong>
              <br>
              <strong>Order Status : {{orderDetails?.statusName}}</strong>
              <br>
              <strong>Order Type : {{orderDetails?.typeName}}</strong>
            </agm-info-window>
          </agm-marker>
        </agm-map>
        <br>
        <div id="customModalFooter">
          <button class="btn btn-dark pull-left" (click)="saveOrderEdits(false)" type="button">Save</button>
          <button class="btn btn-dark pull-left" (click)="saveOrderEdits(true)" type="button">Save & go back</button>
          <button class="btn btn-dark pull-right" (click)="closeModal()" type="button">Close</button>
        </div>
      </div>
    </div>

    <div *ngIf="togglePaciLoading" class="row">
      <div class="col-md-12">
        <p class="text-center">Getting Location...</p>
        <p-progressSpinner class="loading-spinner"></p-progressSpinner>
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>Functional Location</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="functionalLocation" [(ngModel)]="orderDetails.functionalLocation">
      </div>
      <div class="col-md-2">
        <label>Address Note</label>
      </div>
      <div class="col-md-3">
        <textarea name="addressNote" [(ngModel)]="orderDetails.addressNote" class="form-control"></textarea>
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>Order No</label>
      </div>
      <div class="col-md-3">
        <input [disabled]="isEditMode" class="form-control" name="code" [(ngModel)]="orderDetails.code">
      </div>
      <div class="col-md-2">
        <label>Priority</label>
      </div>
      <div class="col-md-3">
        <select name="priorityId" [(ngModel)]="orderDetails.priorityId" class="form-control">
          <option *ngFor="let priority of allPriorities" [value]="priority?.id">{{priority?.name}}</option>
        </select>
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>Order Type</label>
      </div>
      <div class="col-md-3">
        <select name="typeId" [(ngModel)]="orderDetails.typeId" class="form-control">
          <option *ngFor="let type of allTypes" [value]="type?.id">{{type?.name}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label>Status</label>
      </div>
      <div class="col-md-3">
        <select name="statusId" [(ngModel)]="orderDetails.statusId" class="form-control"
                (change)="onStatusChange(orderDetails.statusId)">
          <option *ngFor="let status of allStatus" [value]="status?.id">{{status?.name}}</option>
        </select>
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>Company Code</label>
      </div>
      <div class="col-md-3">
        <select name="companyCodeId" [(ngModel)]="orderDetails.companyCodeId" class="form-control">
          <option *ngFor="let companyCode of allCompanyCode" [value]="companyCode?.id">
            {{companyCode?.name}}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <label>Problem</label>
      </div>
      <div class="col-md-3">
        <select name="problemId" [(ngModel)]="orderDetails.problemId" class="form-control">
          <option *ngFor="let problem of allProblem" [value]="problem?.id">{{problem?.name}}</option>
        </select>
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-5">
        <div>
          <div class="col-md-5 no-padding">
            <label>Division</label>
          </div>
          <div class="col-md-7 no-padding margin-bottom-10">
            <select name="divisionId" [(ngModel)]="orderDetails.divisionId" class="form-control">
              <option *ngFor="let division of allDivisions" [value]="division?.id">
                {{division?.name}}
              </option>
            </select>
          </div>
        </div>
        <div>
          <div class="col-md-5 no-padding">
            <label>Dispatcher notes</label>
          </div>
          <div class="col-md-7 no-padding margin-bottom-10">
            <textarea name="dispatcherNote" [(ngModel)]="orderDetails.dispatcherNote" class="form-control"></textarea>
          </div>
        </div>
        <div>
          <div class="col-md-5 no-padding">
            <label>Created date</label>
          </div>
          <div class="col-md-7 no-padding margin-bottom-10">
            <input disabled class="form-control" name="createdDate"
                   [ngModel]="orderDetails.createdDate | date:'dd/MM/yyy'">
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-2">
          <label>IC Agent notes</label>
        </div>
        <div class="col-md-3">
          <textarea [disabled]="isEditMode" name="icAgentNote" [(ngModel)]="orderDetails.icAgentNote" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="margin-top-35">
      <div class="full-width flex-container">
        <!--<button type="submit" (click)="editOrderForm.valid && saveOrderEdits(false)" [disabled]="togglePaciLoading" class="btn btn-dark">Save</button>-->
        <button type="button" (click)="editOrderForm.valid && saveOrderEdits(true)" [disabled]="togglePaciLoading"
                class="btn btn-dark save-go-back">
          Save And Go Back
        </button>

      </div>
    </div>
  </form>
</div>

<div class="pop-up" *ngIf="showChangeSubStatusPopUp">
  <div class="pop-container">

    <p-progressSpinner class="loading-spinner" [hidden]="!loadingPopUp"></p-progressSpinner>
    <div class="col-md-12 margin-top-10">
      <div class="col-md-5 no-padding flex-label-container">
        <label class="label">Select SubStatus</label>
      </div>
      <div class="col-md-7 no-padding">
        <select name="subStatusId" [(ngModel)]="orderDetails.subStatusId" class="form-control">
          <option *ngFor="let subStatus of subStatuses" [value]="subStatus?.id">{{subStatus?.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-12 margin-top-10">
      <div class="col-md-5 no-padding flex-label-container">
        <label class="label">Servey Report</label>
      </div>
      <div class="col-md-7 no-padding">
        <textarea name="servey" id="servey" cols="30" rows="10" [(ngModel)]="orderDetails.serveyReport" class="form-control"></textarea>
      </div>
    </div>

    <div class="col-md-12 margin-top-10">
      <button class="btn btn-danger" (click)="onCancelChangeStatus()">cancel</button>
      <button class="btn btn-primary" (click)="onChangeStatus()">Save</button>
      <button class="btn btn-primary" (click)="onSaveChangeStatusAndGoBack()">Save And Go Back</button>
    </div>
  </div>
</div>
