button.btn.btn-dark {
    width: auto;
    text-align: center;
    box-sizing: border-box;
    margin: 0px 10px 10px 0px;
}

button.save-go-back {
    width: 150px !important;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999999999999;
}

.pop-container {
    width: 520px;
    text-align: center;
    border: 01px solid #fff;
    background-color: #fff;
    padding: 10px;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pop-container .loading-spinner {
    left: 0px
}

.label {
    color: #666;
    font-size: 16px;
    margin-bottom: 0;
}

.flex-label-container {
    display: flex;
    align-content: center;
}

textarea {
    width: 100%;
    color: #666;
    z-index: 1000;
}

#customModalHeader {
    padding: 15px 0px;
    border-bottom: 1px solid #e5e5e5;
}

#googleMapContainer {
    background-color: #fafafa;
    padding: 0px 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    width: 60%;
}

agm-map {
    height: 300px;
    width: 100%;
}

#customModalFooter {
    padding: 15px 0px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}