<p-growl [(value)]="cornerMessage"></p-growl>

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>


<div [hidden]="toggleLoading">
  <div class="modal-header">
    <div *ngIf="data">
      <h4 class="modal-title">Edit {{data.dispatcherName}} Areas and Problems</h4>
    </div>
    <div *ngIf="!data">
      <h4 class="modal-title">Add Areas and Problems</h4>
    </div>
  </div>

  <form #editDisForm="ngForm" (ngSubmit)="editDisForm.valid && applyEdits()">
    <div class="modal-body">
      <div *ngFor="let dispatcherDetail of dispatcherDetailsFormated; let i=index" class="form-section">

        <div class="form-group halfInput">
          <label style="display: block;">Area: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose areas" [options]="areas" [name]="'area' + i"
            required [(ngModel)]="dispatcherDetail.area" [panelStyle]="{minWidth:'20em'}">
          </p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['area' + i]?.invalid"><i class="fa fa-exclamation-triangle"></i>This
            field is required</em>
        </div>

        <div class="form-group halfInput">
          <label style="display: block;">Problems: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Problems" [options]="problems" [name]="'problem' + i"
            required [(ngModel)]="dispatcherDetail.problems" [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['problem' + i]?.invalid"><i class="fa fa-exclamation-triangle"></i>This
            field is required</em>
        </div>

        <button class="btn btn-danger" (click)="removeProblem(dispatcherDetail,i)"><i class="fa fa-close"></i>Remove</button>
      </div>

      <div *ngIf="dispatcherDetailsFormated.length == 0 && !data" class="form-group halfInput">
        <p-dropdown [disabled]="dispatcherList.length == 0" (onChange)="onSelectDispatecher($event)" placeholder="Choose Dispatcher"
          [options]="dispatcherList" optionLabel="label" [filter]="true" filterBy="label"></p-dropdown>
      </div>

      <div *ngFor="let problem of newProblems; let i = index" class="form-section">
        <div class="form-group halfInput">

          <label style="display: block;">Area: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose areas" [options]="areas" [name]="problem.area + i + dispatcherDetailsFormated.length"
            required [(ngModel)]="problem.area" [panelStyle]="{minWidth:'20em'}">
          </p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['' + problem.area + i + dispatcherDetailsFormated.length + '']?.invalid"><i
              class="fa fa-exclamation-triangle"></i>This field is required</em>
        </div>

        <div class="form-group halfInput">
          <label style="display: block;">Problems: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Problems" [options]="problems" [name]="'problem' + i + dispatcherDetailsFormated.length"
            required="true" [(ngModel)]="problem.problems" [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['' + 'problem' + i + dispatcherDetailsFormated.length + '']?.invalid"><i
              class="fa fa-exclamation-triangle"></i>This field is required</em>
        </div>

        <button class="btn btn-danger" (click)="removeNewProblem(problem)"><i class="fa fa-close"></i>Remove</button>
      </div>

      <button *ngIf="dispatcherObj.id || dispatcherObj.id === 0" type="button" class="btn btn-primary" (click)="addNewProblem()">Add New Problem</button>

    </div>

    <div class="modal-footer">
      <button type="button" (click)="close()" class="btn btn-default">Close</button>
      <button type="submit" class="btn btn-dark">Save</button>
    </div>

  </form>

</div>