<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading && !isLoading"></p-progressSpinner>

<div [hidden]="toggleLoading">

  <div class="row">

    <!-- <p-dataTable [rows]="paginationobj.count" #dt [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" (onPage)="onPageChangeGetData($event)"
                 [value]="disWithProbs" >
      <p-column header="Name">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <h4 tooltipPosition="top" (click)="openEditModal(row)" pTooltip="Edit {{row?.dispatcherName}}">
            {{row?.dispatcherName}}</h4>
        </ng-template>
      </p-column>

      <p-column field="areaName" header="Areas" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
          <p-multiSelect [options]="allAreas" defaultLabel="All Areas"
                         (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                         styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
      </p-column>

      <p-column field="orderProblemName" header="Problems" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
          <p-multiSelect [options]="allProblems" defaultLabel="All Problems"
                         (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                         styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
      </p-column>

      <p-column header="Remove">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <button [hidden]="row?.orderProblemName == '-'" class="btn btn-danger" (click)="remove(row)"><i
            class="fa fa-close"></i> Remove
          </button>
        </ng-template>
      </p-column>
    </p-dataTable> -->

    <ul class="list-group list-inline list-unstyled header-container">
      <li class="btn-li">
        <button class="btn btn-primary" (click)="AddNewProblem()"> Add </button>
      </li>
      <li>
        <label for="datefrom">Dispatchers</label>
        <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Dispatcher" [options]="dispatcherList"
          [(ngModel)]="searchObj.dispatchers" [panelStyle]="{minWidth:'20em'}">
        </p-multiSelect>
      </li>

      <li>
        <label for="dateto">Order Problems</label>
        <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Order Problems" [options]="allProblems"
          [(ngModel)]="searchObj.orderProblems" [panelStyle]="{minWidth:'20em'}">
        </p-multiSelect>

      </li>


      <li>
        <label for="PF">Areas</label>
        <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Areas" [options]="allAreas" [(ngModel)]="searchObj.areas"
          [panelStyle]="{minWidth:'20em'}">
        </p-multiSelect>

      </li>

      <li class="btn-li">
        <button class="btn btn-primary" (click)="onSearch(searchObj)"> Search </button>
      </li>
    </ul>
    <hr>



    <ngx-datatable class="material expandable" [rows]="disWithProbs" [columnMode]="'force'" [columns]="[]"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="false" [selected]="[]" [selectionType]="'falsey'"
      [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'
      (select)='onSelect($event)' [scrollbarV]="false" [loadingIndicator]="loadingIndicator">
      <ngx-datatable-column [width]='50' prop="dispatcherName" name="Dispatcher">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div (click)="openEditModal(row,$event)">
            <!-- there is   
              ERROR Error: 
              ExpressionChangedAfterItHasBeenCheckedError: 
              Expression has changed after it was checked.
              Previous value: 'className: datatable-body-cell sort-active active'.
              Current value: 'className: datatable-body-cell sort-active'.
              need to be handled
            
              the fix is by remove click(row)
            -->
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [width]='50' prop="areaName" name="area"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [width]='50' prop="orderProblemName" name="problem"></ngx-datatable-column>
    </ngx-datatable>

  </div>
</div>