h4 {
  text-transform: capitalize;
  font-size: 1.15em;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

h4:hover {
  cursor: pointer;
  border-bottom: 1px solid blueviolet;
}


* {
  cursor: default;
}

.header-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.btn-li{
  margin-top: 18px;
}