<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="isLoading"></p-progressSpinner>

<form #editForm="ngForm" autocomplete="off">
  <div class="modal-body">
    <div class="form-group">
      <div class="col-md-6">
        <label>Code :</label>
        <input type="text" class="form-control" name="code" [(ngModel)]="customerData.code" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.code.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>
      <div class="col-md-6">
        <label>Email :</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="customerData.email" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.email.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6">
        <label>First Name :</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="customerData.firstName" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.firstName.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>
      <div class="col-md-6">
        <label>Second Name :</label>
        <input type="text" class="form-control" name="secondName" [(ngModel)]="customerData.secondName" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.secondName.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6">
        <label>Third Name :</label>
        <input type="text" class="form-control" name="thirdName" [(ngModel)]="customerData.thirdName" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.thirdName.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>

      <div class="col-md-6">
        <label>Fourth Name :</label>
        <input type="text" class="form-control" name="fourthName" [(ngModel)]="customerData.fourthName" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.fourthName.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <label>Phone 1:</label>
        <input type="text" class="form-control" name="phone1" [(ngModel)]="customerData.phone1" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.phone1.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>

      <div class="col-md-6">
        <label>Phone 2:</label>
        <input type="text" class="form-control" name="phone2" [(ngModel)]="customerData.phone2" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.phone2.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <label>Address:</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="customerData.address" required />
        <div style="text-align: center; margin-top: 10px">
          <p-message *ngIf="editForm.submitted && editForm.controls?.address.invalid" severity="error"
                     text="Value is required to be saved!"></p-message>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">

    <button class="btn" type="button" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="submit" (click)="saveCustomer()">Save</button>

    <img *ngIf="isSaving" alt=""
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>
