<div class="row">

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                   [selected]="[]"
                   [selectionType]="'falsey'">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="100" prop="code" name="User Code"></ngx-datatable-column>
      <ngx-datatable-column [width]="100" prop="firstName" name="First Name"></ngx-datatable-column>
      <ngx-datatable-column [width]="100" prop="secondName" name="Second Name"></ngx-datatable-column>
      <ngx-datatable-column [width]="100" prop="thirdName" name="Third Name"></ngx-datatable-column>
      <ngx-datatable-column [width]="100" prop="fourthName" name="Fourth Name"></ngx-datatable-column>
      <ngx-datatable-column [width]="100" prop="phone1" name="Phone1"></ngx-datatable-column>
      <ngx-datatable-column [width]="100" prop="phone2" name="Phone2"></ngx-datatable-column>

      <ngx-datatable-column [width]="75" prop="id" name="">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <button class="btn btn-light" (click)="edit(row)">
            <i class="fa fa-pencil-square-o"></i>Edit
          </button>

        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!toggleLoading" style="margin-top:1%">
  <div class="col-md-3 col-md-offset-9 add-button">
    <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> Add {{type}}</button>
  </div>
</div>
