/* You can add global styles to this file, and also import other style files */
/* line 11, styles.scss */
html body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    margin: 0;
    text-transform: capitalize !important;

    /* Prevent user from selecting a text in the web page.
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/

    /*primeng drop down button*/
    /****************************/
    /******************************/
}

/* line 15, styles.scss */
html body .loading-spinner {
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 45%;
}

/* line 20, styles.scss */
html body .loading-spinner .ui-progress-spinner {
    margin-top: 75px;
}

/* line 24, styles.scss */
html body .loading-spinner .ui-progress-spinner .ui-progress-spinner-svg {
    width: 100%;
}

/* line 29, styles.scss */
html body .wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -25px;
}

/* line 37, styles.scss */
html body .footer {
    height: 50px;
}

/* line 42, styles.scss */
html body .push {
    height: 50px;
}

/* line 48, styles.scss */
html body em {
    color: red;
}

/* line 52, styles.scss */
html body .uk-card {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #f0f0f0;
}

/* line 63, styles.scss */
html body .accordion-header li {
    background-color: #f0f0f0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #f0f0f0;
    transition: 0.5s all;
    box-sizing: border-box;
}

/* line 75, styles.scss */
html body .accordion-header li:hover {
    border: 1px solid #02466b;
    transition: 0.5s all;
}

/* line 80, styles.scss */
html body .accordion-header li h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* line 85, styles.scss */
html body .uk-card.uk-card-default {
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
}

/* line 88, styles.scss */
html body .page-container {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}

/* line 95, styles.scss */
html body .page-title {
    font-weight: bold;
    text-transform: capitalize;
    color: #02466b;
    /* border-bottom: 1px solid #02466b; */
    width: 100%;
    padding-left: 3%;
    margin-top: 2%;
    margin-bottom: -10px;
}

/* line 102, styles.scss */
html body .sub-title {
    text-transform: capitalize;
    color: #02466b;
    font-weight: bold;
}

/* line 108, styles.scss */
html body .ui-widget-overlay.ui-sidebar-mask {
    background-color: transparent;
}

/* line 112, styles.scss */
html body .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    width: 100%;
}

/* line 118, styles.scss */
html body .ui-buttonset .ui-button {
    margin-right: 2px;
    height: 35px;
}

/* line 125, styles.scss */
html body button {
    text-transform: capitalize;
}

/* line 128, styles.scss */
html body .button {
    font-size: 1.2em;
    height: 50px;
    box-sizing: border-box;
    display: inline;
    width: 100%;
    transition: 0.5s all;
}

/* line 137, styles.scss */
html body .btn-dark {
    text-transform: capitalize;
    color: white;
    background-color: #0d4c92;
    border: 2px solid #0d4c92;
    width: 100%;
}

/* line 143, styles.scss */
html body .btn-dark:hover {
    color: white;
    border: 2px solid lightgray;
}

/* line 147, styles.scss */
html body .btn-dark:focus {
    color: white;
    border: 2px solid lightgray;
}

/* line 152, styles.scss */
html body .btn-light {
    text-transform: capitalize;
    width: 100%;
    background-color: white;
    color: #0d4c92;
    border: 1px solid #0d4c92;
    transition: 0.5s all;
}

/* line 164, styles.scss */
html body .btn-light:focus {
    color: #0d4c92;
}

/* line 168, styles.scss */
html body .btn-outlined {
    text-transform: capitalize;
    border: 1px solid #f28a2c;
    background-color: transparent;
    color: #f28a2c;
}

/* line 174, styles.scss */
html body h1, html body h2, html body h3, html body h4, html body h5 {
    color: #02466b;
}

/* line 177, styles.scss */
html body .modal-dialog {
    position: relative;
}

/* line 180, styles.scss */
html body .ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: center;
}

/* line 185, styles.scss */
html body .datatable-body-cell-label {
    text-align: center;
}

/* line 189, styles.scss */
html body .modal-content {
    position: absolute;
    width: 100%;
}

/* line 195, styles.scss */
html body tr td {
    text-align: center;
}

/* line 201, styles.scss */
.app-spinner {
    position: absolute !important;
    left: 50%;
    top: 50%;
    z-index: 1000;
}

/* line 208, styles.scss */
.ngx-datatable.material {
    box-shadow: none;
    border: 1px solid lightgray;
}

/* line 213, styles.scss */
ngb-modal-window.modal.fade.show {
    background-color: rgba(0, 0, 0, 0.5);
}

/* line 217, styles.scss */
textarea {
    resize: vertical;
    overflow-x: hidden;
}

/* line 222, styles.scss */
.btn-primary {
    background-color: #02466b;
    transition: 0.5s all;
}

/* line 227, styles.scss */
.btn-primary:hover {
    border: 1px solid white;
    transition: 0.5s all;
}

/* line 232, styles.scss */
.btn {
    transition: 0.5s all;
    border-radius: 2px;
}

/* line 237, styles.scss */
.form-control {
    border-radius: 2px;
}

/* line 241, styles.scss */
.btn:hover {
    transition: 0.5s all;
}

/*hide arrows in type number input*/
/* line 247, styles.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/**********************/
/*Tables global styles*/
/**********************/
/* line 258, styles.scss */
table {
    background-color: rgba(250, 250, 250, 0.8);
    color: black;
    margin: 0 auto;
}

/* line 6, calls-history.scss */
/* line 265, styles.scss */
table tr {
    transition: 0.5s all;
}

/* line 8, calls-history.scss */
/* line 270, styles.scss */
table tr td, table tr th {
    border: 1px solid grey;
}

/* line 12, calls-history.scss */
/* line 275, styles.scss */
table tr .action-btn-cell button {
    display: block;
    margin: 5px auto;
}

/* line 20, calls-history.scss */
/* line 281, styles.scss */
table tr:hover {
    background-color: #fafafa;
    transition: 0.5s all;
}

/* line 26, calls-history.scss */
/* line 287, styles.scss */
table thead tr:first-child {
    cursor: default;
    background-color: lightgrey;
}

/**********************/
/* line 293, styles.scss */
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* line 299, styles.scss */
.clickable {
    cursor: pointer;
}

.clickable:focus {
    outline: none;
}

/* line 303, styles.scss */
.mt-20 {
    margin-top: 20px;
}

/* line 307, styles.scss */
.bluetxt {
    color: rgba(18, 120, 255, 0.91);
}

/* line 311, styles.scss */
.mpt-0 {
    margin-top: 0px;
    padding-top: 0px;
}

/* line 316, styles.scss */
.mtb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* line 321, styles.scss */
:host /deep/ datatable-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/* line 327, styles.scss */
:host /deep/ datatable-body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

/* line 332, styles.scss */
:host /deep/ datatable-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #E0E0E0;
}

/* line 338, styles.scss */
:host /deep/ .datatable-header-cell, :host /deep/ .datatable-header-inner {
    height: 100%;
}

/* line 342, styles.scss */
:host /deep/ .datatable-header-cell-label {
    font-size: 14px;
}

/* line 346, styles.scss */
:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #cccccc !important;
    color: #FFF;
}

/* line 352, styles.scss */
:host /deep/ .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    color: black;
    display: block;
}

@keyframes showNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* line 376, styles.scss */
.modal {
    display: block;
    color: black;
    animation: showNav 300ms ease-in-out both;
}

/* line 382, styles.scss */
html body button, html body button:focus {
    outline: none !important;
}

/* line 386, styles.scss */
.datatable-row-detail {
    padding: 0px !important;
}

/* line 390, styles.scss */
.ErrorLable {
    display: block;
    margin-left: 184px;
    margin-top: 5px;
    color: #e18887;
}

/* line 397, styles.scss */
.has-error {
    border: solid 2px #fa1414 !important;
}

/* line 401, styles.scss */
.noOverflow {
    overflow: hidden !important;
}

/* line 405, styles.scss */
.temp-sibiling ~ .StaticBack {
    width: 98%;
}

.uk-tab::before {
    border-bottom: none;
}

.panel-body {
    padding: 8px !important;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #ec7373;
    border-color: #ebccd1;
}

.panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #e2d382;
    border-color: #faebcc;
}

/***** Scroll bar styles *****/

.scrollbar::-webkit-scrollbar-track {
    border: 1 px solid black;
    border-radius: 5px;
    background-color: #F0F2F5;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    transition: 0.5s all;
    border-radius: 5px;
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    background-color: rgba(155, 155, 155, 1);
    transition: 0.5s all;
}

.bold {
    font-weight: bold;
}

.dark-color {
    color: #02466b;
}

.test {
    border: 1px solid black;
}

.text-center {
    text-align: center;
}

/********************************************/
/************** layout styles ***************/
/********************************************/

.inline {
    display: inline !important;;
}

.block {
    display: block !important;;
}

.inline-block {
    display: inline-block !important;
}

.transition {
    transition: 0.5s all;
}

.no-padding {
    padding: 0 !important;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-30 {
    padding: 30px;
}

.padding-35 {
    padding: 35px;
}

.padding-40 {
    padding: 40px;
}

.padding-45 {
    padding: 45px;
}

.padding-50 {
    padding: 50px;
}

/*top padding*/

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-45 {
    padding-top: 45px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px !important;;
}

.padding-top-65 {
    padding-top: 65px !important;
}

/*bottom padding*/

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;;
}

.padding-bottom-65 {
    padding-bottom: 65px !important;
}

/*left padding*/

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-35 {
    padding-left: 35px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-45 {
    padding-left: 45px;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.padding-left-50 {
    padding-left: 50px;
}

/*right padding*/

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-35 {
    padding-right: 35px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-right-45 {
    padding-right: 45px;
}

.padding-right-50 {
    padding-right: 50px;
}

/*margin styles*/

.no-margin {
    margin: 0;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-25 {
    margin: 25px;
}

.margin-30 {
    margin: 30px;
}

.margin-35 {
    margin: 35px;
}

.margin-40 {
    margin: 40px;
}

.margin-45 {
    margin: 45px;
}

.margin-50 {
    margin: 50px;
}

/*top margin*/

.margin-top-2 {
    margin-top: 2px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-35 {
    margin-top: 35px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-45 {
    margin-top: 45px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-55 {
    margin-top: 55px !important;
}

.margin-top-75 {
    margin-top: 75px !important;
}

.margin-top-85 {
    margin-top: 85px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

/*bottom margin*/

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-45 {
    margin-bottom: 45px;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

/*left margin*/

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-35 {
    margin-left: 35px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-45 {
    margin-left: 45px;
}

.margin-left-50 {
    margin-left: 50px;
}

/*right margin*/

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-35 {
    margin-right: 35px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-right-45 {
    margin-right: 45px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-75 {
    margin-right: 75px;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-top: 0;
}

.no-margin-left {
    margin-top: 0;
}

.no-margin-right {
    margin-top: 0;
}

.capitalize {
    text-transform: uppercase;
}

.capital-letter {
    text-transform: capitalize;
}

.grab {
    cursor: grab;
}

.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
