<div class="container">
  <div class="row">
    <h3>Add Vehicle</h3>
    <label for="plate-number">Plate Number</label>
    <input id="plate-number" class="form-control" type="text" size="30" pInputText [(ngModel)]="plateNo" autofocus>
    <button class="btn btn-primary full-width submit-btn" (click)="onSubmit()" [disabled]="!plateNo">Submit</button>
  </div>

</div>