<p-growl [(value)]="cornerMessage"></p-growl>
<!-- 
  <p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner> -->


<div class="overlayer" [hidden]="fetchingDataDone && !toggleLoading">
  <div class="spinner-containerr">
    <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
  </div>
</div>

<div class="container dispatcher-order-container uk-card uk-card-default">

  <div class="row" [hidden]="toggleMap">
    <div class="col-md-12">
      <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade" *ngIf="!showFilter"
        (click)="showHideFilter()">
        <i *ngIf="!isFilterActive" class="fa fa-sort-down"></i>
        <i *ngIf="isFilterActive" class="fa fa-filter"></i>
      </button>
      <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="showFilter" (click)="showHideFilter()"></i>
    </div>
    <!-- <div class="col-md-10 col-md-offset-1">
      <div *ngIf="!showFilter && isFilterActive" class="alert margin-top-30 alert-warning" role="alert">
        <p>The Board is currently <strong>Filtered</strong>!</p>
      </div>
    </div> -->
  </div>

  <div class="row uk-animation-slide-top-small filter-container" [hidden]="toggleMap || !showFilter">
    <!--<i class="fa fa-close"></i>-->
    <app-order-filter (resetFilter)="resetBoardFilter();" (filterTermsBoard)="applyFilterBoard($event);showHideFilter()"
      [type]="'order board'"></app-order-filter>
  </div>

<!-- 
  <div class="row" [hidden]="!toggleMap">
      <div class="col-md-12">
        <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade"
          *ngIf="!showMapFilter" (click)="showHideMapFilter()">
          <i *ngIf="!isFilterActive" class="fa fa-sort-down"></i>
          <i *ngIf="isFilterActive" class="fa fa-filter"></i>
        </button>
        <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="showMapFilter"
          (click)="showHideMapFilter()"></i>
      </div>
    </div>

    <div class="row" [hidden]="!toggleMap || !showFilter">
      <app-order-map-filter (resetMapFilter)="resetBoardMapFilter()"
        (filterMapTerms)="applyFilterMap($event);showHideMapFilter()">
      </app-order-map-filter>
    </div> -->
    <div class="row" [hidden]="!toggleMap">
        <div class="col-md-12">
          <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade" *ngIf="!showMapFilter"
            (click)="showHideMapFilter()">
            <i *ngIf="!isFilterActive" class="fa fa-sort-down"></i>
            <i *ngIf="isFilterActive" class="fa fa-filter"></i>
          </button>
          <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="showMapFilter" (click)="showHideMapFilter()"></i>
        </div>
        <!-- <div class="col-md-10 col-md-offset-1">
          <div *ngIf="!showFilter && isFilterActive" class="alert margin-top-30 alert-warning" role="alert">
            <p>The Board is currently <strong>Filtered</strong>!</p>
          </div>
        </div> -->
      </div>
    
      <!-- <div class="row uk-animation-slide-top-small filter-container" [hidden]="!toggleMap || !showMapFilter"> -->
        <!--<i class="fa fa-close"></i>-->
        <!-- <app-order-map-filter (resetFilter)="resetBoardFilter();"></app-order-map-filter> -->
      <!-- </div> -->
  <!--<p-tabView>-->
  <!--<p-tabPanel header="Orders & Teams">-->

  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="Map">-->

  <!--</p-tabPanel>-->
  <!--</p-tabView>-->


  <!--<div class="on-map-check margin-bottom-10">-->
  <!--<input id="map-checkbox" class="uk-checkbox" type="checkbox" [checked]="toggleMap"-->
  <!--[(ngModel)]="toggleMap"-->
  <!--(change)="applyToggleMap()">-->
  <!--<label for="map-checkbox">View Orders On Map</label>-->
  <!--</div>-->

  <div class="row margin-top-10">

    <div class="orders-section col-md-2">
      <!--<h4 class="sub-title no-margin-top">List of Orders</h4>-->
      <div class="orders-overflow-container scrollbar">
        <div class="order-header">
          <h4 class="text-center">Unassigned</h4>
        </div>
        <!-- <div class="margin-top-5 margin-bottom-5">
          <p-selectButton [options]="orderTypes" [(ngModel)]="selectedOrderType"></p-selectButton>
        </div> -->
        <div dragula="orders" [(dragulaModel)]="openOrders" class="unassigned-orders-container scrollbar">
          <div [ngClass]="['#orderId' + order.id]" (click)="activeOrder(order)" *ngFor="let order of orders"
            class="order-card" [ngClass]="order.classThemeName">
            <app-order-card (orderTransfered)="orderTransfered($event)" (orderSelected)="addOrderToSelection($event)"
              [bulkAssignMode]="isBulkAssign" [order]="order"></app-order-card>
          </div>

        </div>
        <!-- <div dragula="orders" *ngIf="selectedOrderType == 'On-Hold'" [(dragulaModel)]="onholdOrders" class="unassigned-orders-container scrollbar">
          <div [ngClass]="['#orderId' + order.id]" (click)="activeOrder(order)" *ngFor="let order of onholdOrders"
            class="order-card">
            <app-order-card (orderTransfered)="orderTransfered($event)" (orderSelected)="addOrderToSelection($event)"
              [bulkAssignMode]="isBulkAssign" [order]="order"></app-order-card>
          </div>

        </div> -->

      </div>
    </div>

    <div class="tec-section col-md-9">
      <div [ngClass]="{toggleOverflowX : true, 'full-screen':fullScreenMap}"
        class="technican-overflow-container scrollbar">

        <div *ngFor="let foreman of foremen" [hidden]="toggleMap" class="single-tec">
          <div class="tec-header foreman-name">
            <h4 class="text-center">{{foreman?.foremanName}}</h4>
          </div>
          <div class="flex-container full-height">

            <div *ngFor="let team of foreman.teams" class="flex-team">
              <div class="tec-header">
                <h4 class="text-center">{{team?.teamName}}</h4>
              </div>
              <div class="single-tec-overflow scrollbar">

                <div [ngClass]="['#teamId' + team.teamId]" dragula="orders" [(dragulaModel)]="team.filterOrders"
                  style="height: 100%">
                  <div *ngFor="let order of team.filterOrders" [ngClass]="order && order.classes">
                    <app-order-card (orderTransfered)="orderTransfered($event)"
                      (orderSelected)="addOrderToSelection($event)" [bulkAssignMode]="isBulkAssign" [order]="order">
                    </app-order-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <p *ngIf="!foremen?.length && !toggleMap">No Teams Assigned</p>

        <div *ngIf="toggleMap" class="map-container uk-animation-fade">

          <agm-map *ngIf="orders" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker *ngFor="let item of orders" [latitude]="item.lat" [longitude]="item.long"
              [markerDraggable]="false"
              [iconUrl]="choosePin(item.priorityName ,item.typeName, item.createdDate, item.problemName)">
              <agm-info-window [disableAutoPan]="true">
                <table>
                  <tr>
                    <td><b>Creation Date: </b></td>
                    <td>{{ item.createdDate.replace('T', ' ').substring(0 , item.createdDate.indexOf('.')) || '--' }}
                    </td>
                  </tr>
                  <tr>
                    <td><b>Finish Date: </b></td>
                    <td>{{ item.updatedDate.replace('T', ' ').substring(0 , item.updatedDate.indexOf('.')) || '--' }}
                    </td>
                  </tr>
                  <tr>
                    <td><b>status: </b></td>
                    <td>{{ item.statusName || "--" }}</td>
                  </tr>
                  <tr>
                    <td><b>problem: </b></td>
                    <td>{{ item.problemName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>division: </b></td>
                    <td>{{ item.divisionName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>dispatcher: </b></td>
                    <td>{{ item.dispatcherName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>technician: </b></td>
                    <td>{{ item.dispatcherName || '--' }}</td>
                    <!-- technician is not found in the response received from backend -->
                  </tr>
                  <tr>
                    <td><b>area: </b></td>
                    <td>{{ item.areaName || '--' }}</td>
                  </tr>
                  <tr>
                    <td><b>order type: </b></td>
                    <td>{{ item.typeName || '--' }}</td>
                  </tr>
                </table>
              </agm-info-window>
            </agm-marker>
          </agm-map>

          <div class="filter-icon" (click)="toggleFilter(true)">
            <i class="fa fa-bars"></i>
          </div>
          <div class="full-screen-icon" (click)="toggleFullScreen()">
            <!-- <i class="fas fa-arrows-alt"></i> -->
            <i class="fa fa-arrows-h" *ngIf="!fullScreenMap"></i>
            <i class="fa fa-close" *ngIf="fullScreenMap"></i>
          </div>
          <div [ngClass]="filterStatusClass" class="filter-body">

            <div [hidden]="filterStatusClass[0] == 'zero-filter-width'">
              <i class="fa fa-close close-filter" (click)="toggleFilter(false)"></i>

              <!--<ul class="filter-tabs" uk-tab>-->
              <!--<li class="uk-active" (click)="toggleActiveTab(1)"><a href="#">Filter</a></li>-->
              <!--<li (click)="toggleActiveTab(2)"><a href="#">Layers</a></li>-->
              <!--</ul>-->
              <!--*****************-->
              <!--Filter Form-->
              <!--*****************-->
              <app-order-filter [type]="'map'" (resetFilter)="resetFilterMap()" (filterTermsMap)="applyFilterMap($event)"
                [hidden]="currentActiveTab == 2"></app-order-filter>
              <!--***************************-->
              <!--Filter Layers -->
              <!--***************************-->
              <!--<div [hidden]="currentActiveTab == 1" class="layers">-->
              <!--<div>-->
              <!--<label>Today Orders</label>-->
              <!--<input [checked]="todayOrdersStatus" type="checkbox" class="uk-checkbox"-->
              <!--[(ngModel)]="todayOrdersStatus"-->
              <!--(click)="toggleTodayOrders()">-->
              <!--</div>-->
              <!--<div>-->
              <!--<label>Vehicles</label>-->
              <!--<input [checked]="vehiclesStatus" type="checkbox" class="uk-checkbox"-->
              <!--[(ngModel)]="vehiclesStatus"-->
              <!--(click)="toggleVehiclesStatus()">-->
              <!--</div>-->
              <!--</div>-->
            </div>

          </div>
        </div>


      </div>

    </div>
  </div>
</div>