/* line 3, dispatcher-order-board.component.scss */

.dispatcher-order-container {
    min-height: 650px;
}

/* line 6, dispatcher-order-board.component.scss */

.dispatcher-order-container h4 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
}

.filter-container {
    position: relative;
    z-index: 1;
}

/* line 12, dispatcher-order-board.component.scss */

.orders-section {
    height: 650px;
    box-sizing: content-box;
    position: relative;
}

/* line 18, dispatcher-order-board.component.scss */

.orders-section .orders-overflow-container {
    /*overflow: scroll;*/
    height: 95%;
    border: 1px solid lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.orders-section .orders-overflow-container .unassigned-orders-container {
    flex-grow: 1;
    overflow-y: auto;
    /*box-sizing: content-box;*/
}

/* line 24, dispatcher-order-board.component.scss */

.orders-section .orders-overflow-container .order-header {
    background-color: #0d4c92;
    color: white;
    width: 100%;
    height: 7%;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    /*display: flex;*/
    /*align-items: center;*/
}

/* line 31, dispatcher-order-board.component.scss */

.orders-section .orders-overflow-container .order-header h4 {
    color: white;
    margin-bottom: 0;
}

/* line 38, dispatcher-order-board.component.scss */

.tec-section {
    height: 650px;
    position: relative;
}

/* line 46, dispatcher-order-board.component.scss */

.tec-section .bulk-assign-button {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
}

/* line 52, dispatcher-order-board.component.scss */

.tec-section .bulk-assign-button .btn {
    width: auto;
}

/* line 56, dispatcher-order-board.component.scss */

.on-map-check {
    /*position: absolute;*/
    display: flex;
    align-items: center;
    /*right: 5px;*/
    /*top: -25px;*/
}

/* line 62, dispatcher-order-board.component.scss */

.on-map-check input {
    margin: 0 6px 0 0;
}

/* line 65, dispatcher-order-board.component.scss */

.on-map-check label {
    margin: 0;
    cursor: pointer;
}

/* line 70, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container {
    overflow: scroll;
    border: 1px solid lightgray;
    height: 95%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    overflow-y: hidden;
}

/* line 79, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec {
    display: inline;
    /* flex-grow: 1; */
    /* height: 100%; */
    margin-right: 10px;
    margin-left: 10px;
}

/* line 79, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec:first-child {
    display: inline;
    /* height: 100%; */
    margin-right: 10px;
    margin-left: 0;
}

/* line 85, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec .tec-header {
    background-color: #0d4c92;
    transition: 0.5s all;
    padding-bottom: 7px;
}

/* line 89, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec .tec-header>h4 {
    background-color: #0d4c92;
    color: white;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s all;
}

.tec-header {
    width: 100%;
}

/* line 98, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec .tec-header p {
    margin-bottom: 0;
    text-align: center;
}

/* line 101, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec .tec-header p span {
    color: white;
    font-size: 1.1em;
}

/* line 108, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec .single-tec-overflow {
    overflow-y: auto;
    width: 200px;
    border: 1px solid #036092;
    height: calc(90% - 40px);
    text-align: center;
    transition: 0.5s all;
}

.tec-section .technican-overflow-container .single-tec .single-tec-overflow ul,
.orders-section .orders-overflow-container ul {
    padding-left: 0;
}

/* line 118, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec .not-available {
    opacity: 0.6;
    transition: 0.5s all;
}

/* line 123, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .single-tec>.not-available~.tec-header {
    opacity: 0.6;
    transition: 0.5s all;
}

/* line 129, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .map-container {
    height: 100%;
    width: 100%;
}

/* line 132, dispatcher-order-board.component.scss */

.tec-section .technican-overflow-container .map-container agm-map {
    height: 100%;
    width: 100%;
}

/* line 146, dispatcher-order-board.component.scss */

.map-container {
    height: 500px;
    width: 100%;
    position: relative;
}

/* line 150, dispatcher-order-board.component.scss */

.map-container .filter-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #02466b;
    font-size: 1.75em;
    cursor: pointer;
    z-index: 100000000 !important;
}


.map-container .full-screen-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #02466b;
    font-size: 1.75em;
    cursor: pointer;
    z-index: 100000000 !important;
}

/* line 159, dispatcher-order-board.component.scss */

.map-container .filter-body {
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 100000001 !important;
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    transition: 0.25s all;
}

/* line 170, dispatcher-order-board.component.scss */

.map-container .filter-body .filter-tabs {
    margin-top: 35px;
}

/* line 173, dispatcher-order-board.component.scss */

.map-container .filter-body .close-filter {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* line 179, dispatcher-order-board.component.scss */

.map-container .filter-body .filter-form {
    width: 95%;
    margin: 35px auto 0;
}

/* line 182, dispatcher-order-board.component.scss */

.map-container .filter-body .filter-form .filter-form-section {
    height: 85px;
    width: 100%;
}

/* line 187, dispatcher-order-board.component.scss */

.map-container .filter-body .filter-form label {
    display: block;
}

/* line 191, dispatcher-order-board.component.scss */

.map-container .filter-body .layers {
    margin: 35px 15px;
}

/* line 193, dispatcher-order-board.component.scss */

.map-container .filter-body .layers>div {
    display: flex;
    justify-content: space-between;
}

/* line 199, dispatcher-order-board.component.scss */

.map-container .full-filter-width {
    width: 300px;
    transition: 0.25s all;
}

/* line 203, dispatcher-order-board.component.scss */

.map-container .zero-filter-width {
    width: 0;
    transition: 0.25s all;
}

/* line 207, dispatcher-order-board.component.scss */

.map-container agm-map {
    height: 90%;
    width: 100%;
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
}

.full-height {
    height: 100%;
}

.flex-team {
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.foreman-name {
    margin-bottom: 5px;
}

.overlayer {
    position: fixed;
    width: 100%;
    height: 60%;
    z-index: 99999999;
    display: flex;
}

.spinner-containerr {
    margin: auto;
}

@media (min-width: 1200px) {
    /* line 214, dispatcher-order-board.component.scss */
    .container {
        width: 98%;
    }
}

/* line 219, dispatcher-order-board.component.scss */

.container {
    margin-right: 15px;
    margin-left: 15px;
}



.filter-form-section {
    margin: 0 10px !important;
}

.red{
    background-color: red;
    color: #fff;
}

.gold{
    background-color: pink;
    color: #000;
}

.dark-green{
    background-color: darkgreen;
    color: #fff;
}

.yellow{
    background-color: yellow;
    color: #000;
}


.day0{
    background-color: pink;
    color: #000;
}

.day1{
    background-color: LightGreen;
    color: #000;
}

.day2{
    background-color: LightBlue;
    color: #000;
}

.day3{
    background-color: Purple;
    color: #fff;
}

.day4{
    background-color: LightBlue;
    color: #000;
}

.day5{
    background-color: Gray;
    color: #000;
}


.day6{
    background-color: Yellow;
    color: #000;
}


table, tr, th, td {
    border: none;
    text-align: left;
    background-color: transparent;
    padding: 02px !important;
}

table:hover, tr:hover, th:hover, td:hover {
    background-color: transparent;
}

.full-screen{
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
}